<div class="container">
  <div class="left-side">
    <div>
      <div class="myCart">
        <h2>My Cart</h2>
      </div>
      <div class="productAmount">
        <h3>Products: {{length}}</h3>
      </div>
    </div>
    <hr class="first-hr">
    <div class="product" *ngFor="let item of products;let i=index;">
      <div *ngIf="item.show">
        <img src="../../../assets/35S-35SD.jpg" alt="" style="width: 141px; height: 141px;">
        <div class="description">
          <div class="descLeft">
            <h4>{{ item.name }}</h4>
            <p>{{ item.name1 }}</p>
            <p>Quantity: {{ item.qty }}</p>
            <img src="../../../assets/Vector.png" alt="">
            <button class="btn btn-danger" (click)="removeOne(item, i)">X</button>
          </div>
          <div class="descRight">

            <input type="number" class="form-control numberInput" (input)="currentQuantity(item.qty,i,(item.qty-1))" [value]="item.stock >= item.qty" [(ngModel)]="item.qty" min="1" [max]="item.stock" #quantityInput>

            <h3>${{ item.wholesale }}</h3>
          </div>
        </div>
      </div>
    </div>

    <button class="btn btn-primary" (click)="clearAll()">Clear All</button>
    <hr class="second-hr">
    <div class="continueShopping" (mouseover)="handleMouseOver()" (mouseleave)="handleMouseLeave()" (click)="handleClick()">
      <div>
        <img src="../../assets/Arrow 1.png" alt="">
      </div>
      <h5 #text>Continue Shopping</h5>
    </div>
  </div>
  <div class="right-side">
    <div class="continueToCheckout">
      <h5> Total :&emsp;{{ GrandTotal }}</h5>
      <h5>Shipping Costs:&emsp;$? </h5>
      <div class="coupon">
        <div class="circle"><p>+</p></div>
        <h5>Use Coupon</h5>
      </div>
      <hr>

      <h5>Grand Total :&emsp;{{ GrandTotal }}</h5>



      <button [ngClass]="shouldContinue? 'cart-btn' : 'disabled'" (click)="handleCheckout()">Continue To Checkout</button>

    </div>
    <div class="paymentMethod">
      <h4>Payment Method</h4>
      <div class="cards">
        <img src="../../assets/Image Placeholder.png" alt="">
        <img src="../../assets/Image Placeholder.png" alt="">
        <img src="../../assets/Image Placeholder.png" alt="">
        <img src="../../assets/Image Placeholder.png" alt="">
      </div>
    </div>
    <div class="paymentMethod">
      <h4>Return Policy</h4>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc vulputate libero et velit interdum, ac aliquet odio mattis. <cite style="font-weight: bold;">Learn More</cite></p>
    </div>
  </div>
</div>
