
<div class="container">
    <div class="left-side">
        <div>
            <div class="myCart">
                <h2>My Cart</h2>
            </div>
            <div class="productAmount">
                <h3>Products: 1</h3>
            </div>
        </div>
        <hr class="first-hr">

        <app-cart-item *ngFor="let single of products;let index" [index]="index" ></app-cart-item>
        <hr class="second-hr">
        <div class="continueShopping" (mouseover)="handleMouseOver()" (mouseleave)="handleMouseLeave()" (click)="handleClick()">
            <div>
                <img src="../../assets/Arrow 1.png" alt="">
            </div>
            <h5 #text>Continue Shopping</h5>
        </div>
    </div>
    <div class="right-side">
        <div class="continueToCheckout">
            <h5>Total <cite>(with VAT)</cite>:&emsp;$299</h5>
            <h5>Shipping Costs:&emsp;$? </h5>
            <div class="coupon">
                <div class="circle"><p>+</p></div>
                <h5>Use Coupon</h5>
            </div>
            <hr>
            <h5>Grand Total :&emsp;$299</h5>
            <button class="cart-btn">Continue To Checkout</button>
        </div>
        <div class="paymentMethod">
            <h4>Payment Method</h4>
            <div class="cards">
                <img src="../../assets/Image Placeholder.png" alt="">
                <img src="../../assets/Image Placeholder.png" alt="">
                <img src="../../assets/Image Placeholder.png" alt="">
                <img src="../../assets/Image Placeholder.png" alt="">
            </div>
        </div>
        <div class="paymentMethod">
            <h4>Return Policy</h4>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc vulputate libero et velit interdum, ac aliquet odio mattis. <cite style="font-weight: bold;">Learn More</cite></p>
        </div>
    </div>
</div>
