<app-navbar></app-navbar>

<div class="container content">
  <div class="row">
    <div class="col-xxl-8 col-xl-8 col-lg-8 col-md-8 col-sm-12 col-12" style="padding-right: 24px;">
      <div class="row" style="align-items: end;height: 50px">
        <h2 translate>cart.order</h2>
      </div>
      <div *ngFor="let items of cartItems;let i=index;" class="row" style="background-color: white;border-radius: 16px;padding: 24px;box-shadow: 0 20px 30px rgba(0,0,0,0.08);margin-bottom: 12px;">

        <div class="row" *ngIf="items.length <= 1">
          <div class="row" *ngFor="let item of items">
            <div class="col-6">
              <div class="row" style="display: flex;justify-content: center;align-items:center;">
                <div class="col-4">
                  <img style="cursor: pointer;" [src]="item.image" alt="productImage" class="productImg" (click)="seeProd(item)">
                </div>
                <div class="col-6">
                  <div class="row">
                    <p style="cursor: pointer;" class="productName" *ngIf="currentLang == 'el'" (click)="seeProd(item)">{{ item.product_name }}</p>
                    <p style="cursor: pointer;" class="productName" *ngIf="currentLang == 'en'" (click)="seeProd(item)">{{ item.product_name_eng }}</p>
                  </div>
                  <div class="row" style="align-items: end;">
                    <button class="trash" (click)="removeOne(item,i,true)" style="border: none;background-color: rgba(0,0,0,0);text-align: left;">
                      <img src="../../assets/trash-alt.svg" alt="" srcset="" style="width: 20px;height: 20px;">
                    </button>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-6">
              <div class="row" style="align-items: center;height: 100%;">
                <div class="col-8">
                  <div class="row" style="justify-content: right;">
                    <div class="numberInput">
                      <button id="decrement" (click)="stepper(input2,decrement,item)" #decrement> - </button>
                      <input type="number" min="0" [max]="item.stock" step="1" [value]="item.qty" id="my-input" readonly #input2>
                      <button id="increment" (click)="stepper(input2,increment,item)" #increment> + </button>
                    </div>
                  </div>
                </div>
                <div class="col-4">
                  <h4 style="margin: 0;">{{ item.wholesale }}<span style="color: #6dae49">&euro;</span></h4>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="row" *ngIf="items.length > 1" #prod>
          <div class="row" *ngFor="let item of items" style="margin-bottom: 12px;">
            <div class="col-6">
              <div class="row" style="display: flex;justify-content: center;align-items:center;">
                <div class="col-4">
                  <img style="cursor: pointer;" [src]="item.image" alt="productImage" class="productImg" (click)="seeProd(item)">
                </div>
                <div class="col-6">
                  <div class="row">
                    <p style="cursor: pointer;" class="productName" *ngIf="currentLang == 'el'" (click)="seeProd(item)">{{ item.product_name }}</p>
                    <p style="cursor: pointer;" class="productName" *ngIf="currentLang == 'en'" (click)="seeProd(item)">{{ item.product_name_eng }}</p>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-6">
              <div class="row" style="align-items: center;height: 100%;">
                <div class="col-8">
                  <div class="row" style="justify-content: right;">
                    <div class="numberInput">
                      <button id="decrement" (click)="stepper(input2,decrement,item,items,prod)" #decrement> - </button>
                      <input type="number" min="0" [max]="item.stock" step="1" [value]="item.qty" id="my-input" readonly #input2>
                      <button id="increment" (click)="stepper(input2,increment,item,items,prod)" #increment> + </button>
                    </div>
                  </div>
                </div>
                <div class="col-4">
                  <h4 style="margin: 0;">{{ item.wholesale }}<span style="color: #6dae49">&euro;</span></h4>
                </div>
              </div>
            </div>
          </div>
          <div class="row bin" style="align-items: end;">
            <button (click)="removeOne(items[0],i,true)" style="border: none;background-color: rgba(0,0,0,0);text-align: left;">
              <img src="../../assets/trash-alt.svg" alt="" srcset="" style="width: 20px;height: 20px;">
            </button>
          </div>
        </div>

      </div>
      <div class="row">
        <div *ngIf="cartItems.length>0" class="col-12" style="padding:0px;margin-top: 12px;">
          <a class="clearAllBtn" (click)="clearAll(true)" translate>
            <img src="../../assets/trash-alt-white.svg" width="20px" alt="">
            cart.clear_cart
          </a>
        </div>
        <div class="col-12" style="margin-top: 24px;padding: 0;">
          <a class="goBackBtn" (click)="handleContinueShopping()" translate>
            <img style="transform: rotate(180deg);" src="../../assets/chevron-right-white.svg" width="18px" alt="" >
            cart.continue_shopping
          </a>
        </div>
      </div>
    </div>
    <div class="col-xxl-4 col-xl-4 col-lg-4 col-md-4 col-sm-12 col-12 orderReview">
      <div class="row" style="align-items: end;height: 50px">
        <h5 translate>cart.order_summary</h5>
      </div>
      <div class="row" style="background-color: white;border-radius: 16px;padding: 50px 12px;box-shadow: 0 20px 30px rgba(0,0,0,0.08);">
        <div class="row productValue" style="margin-bottom: 4px;">
          <div class="col-6">
            <div class="row">
              <p style="margin: 0;" translate>cart.p_value</p>
            </div>
          </div>
          <div class="col-6">
            <div class="row" style="text-align: right">
              <p style="margin: 0;">{{ GrandTotal }}<span style="color: #6dae49">&euro;</span></p>
            </div>
          </div>
        </div>

        <div class="row shippingValue" style="margin-bottom: 4px;">
          <div class="col-6">
            <div class="row">
              <p style="margin: 0;" translate>cart.shipping</p>
            </div>
          </div>
          <div class="col-6">
            <div class="row" style="text-align: right">
              <p style="margin: 0;">?<span style="color: #6dae49">&euro;</span></p>
            </div>
          </div>
        </div>

        <div class="row" style="margin-top: 12px;">
          <hr style="border: 1px solid #6dae49;opacity: 1;">
        </div>


        <div class="row totalValue" style="font-weight: 600;font-size: 18px;">
          <div class="col-6">
            <div class="row">
              <p style="margin: 0;" translate>cart.total_value</p>
            </div>
          </div>
          <div class="col-6">
            <div class="row" style="text-align: right">
              <p style="margin: 0;">{{ GrandTotal }}<span style="color: #6dae49">&euro;</span></p>
            </div>
          </div>
        </div>
        <div class="row" *ngIf="shouldContinue">
          <a class="cart-btn" (click)="handleCheckout(cartBtn)"  #cartBtn>
            <p style="margin: 0px;" translate>cart.purchase</p>

            <img class="btnImg" src="../../assets/credit-card.svg" alt="">
          </a>
        </div>
      </div>
    </div>
  </div>
</div>


<div class="container footer">
  <div class="row" style="text-align:center">
    <p style="color: black;">Web site created by <a href="https://isg.gr/"  style="color: #6DAE49;font-weight: bold;text-decoration: none;">ISG Informatics</a> ⓒ All rights reserved</p>
  </div>
</div>









<!--
<div class="container">
  <div class="left-side">
    <div>
      <div class="myCart">
        <h2>My Cart</h2>
      </div>
      <div class="productAmount">
        <h3>Products: {{length}}</h3>
      </div>
    </div>
    <hr class="first-hr">
    <div class="product" *ngFor="let item of products;let i=index;">

        <img [src]="item.image" alt="" style="width: 141px; height: 141px;">
        <div class="description">
          <div class="descLeft">
            <h4>{{ item.name }}</h4>
            <p>{{ item.name1 }}</p>
            <p>Quantity: {{ item.qty }}</p>
            <img src="../../../assets/Vector.png" alt="">
            <button class="btn btn-danger" (click)="removeOne(item,i)">X</button>
          </div>
          <div class="descRight">

            <input type="number" class="form-control numberInput" (input)="currentQuantity(item.qty,i,(item.qty-1))" [value]="item.stock >= item.qty" [(ngModel)]="item.qty" min="1" [max]="item.stock" #quantityInput>

            <h3>${{ item.wholesale }}</h3>
          </div>
        </div>

    </div>

    <button class="btn btn-primary" (click)="clearAll('10')">Clear All</button>
    <hr class="second-hr">
    <div class="continueShopping" (mouseover)="handleMouseOver()" (mouseleave)="handleMouseLeave()" (click)="handleClick()">
      <div>
        <img src="../../assets/Arrow 1.png" alt="">
      </div>
      <h5 #text>Continue Shopping</h5>
    </div>
  </div>
  <div class="right-side">
    <div class="continueToCheckout">
      <h5> Total :&emsp;{{ GrandTotal }}</h5>
      <h5>Shipping Costs:&emsp;$? </h5>
      <div class="coupon">
        <div class="circle"><p>+</p></div>
        <h5>Use Coupon</h5>
      </div>
      <hr>

      <h5>Grand Total :&emsp;{{ GrandTotal }}</h5>



      <button [ngClass]="shouldContinue? 'cart-btn' : 'disabled'" (click)="handleCheckout()" >Continue To Checkout</button>

    </div>
    <div class="paymentMethod">
      <h4>Payment Method</h4>
      <div class="cards">
        <img src="../../assets/Image Placeholder.png" alt="">
        <img src="../../assets/Image Placeholder.png" alt="">
        <img src="../../assets/Image Placeholder.png" alt="">
        <img src="../../assets/Image Placeholder.png" alt="">
      </div>
    </div>
    <div class="paymentMethod">
      <h4>Return Policy</h4>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc vulputate libero et velit interdum, ac aliquet odio mattis. <cite style="font-weight: bold;">Learn More</cite></p>
    </div>
  </div>
</div> -->
