

    <div class="row" style="padding: 12px;">
      <div class="row">
        <h1>{{ subCategoryName }}</h1>
      </div>
        <form
          [formGroup]="dimentions"
          class="form-control row"
          (ngSubmit)="addToCart()"
          #form
        >
          <div class="row">
            <div class="col-6" style="display: flex;align-items: center;">
              <label> Πλατους σε mm </label>
            </div>
            <div class="col-6">
              <input
              type="number"
              formControlName="width"
              class="form-control"
              placeholder="Εισαγωγη Πλατους"
              (click)="checkValid()"
              required
              />
            </div>
          </div>

          <div class="row">
            <hr>
          </div>

          <div class="row">
            <div class="col-6" style="display: flex;align-items: center;">
              <label> Υψος σε mm </label>
            </div>
            <div class="col-6">
              <input
              type="number"
              formControlName="height"
              class="form-control"
              placeholder="Εισαγωγη Υψους"
              (click)="checkValid()"
              required
            />
            </div>
          </div>

          <div class="row">
            <hr>
          </div>

          <div class="row">
            <div class="col-6" style="display: flex;align-items: center;">
              <label >Επιλογη Υφασματος</label>
            </div>
            <div class="col-6">
              <select
                class=""
                style="width: 100%;padding: 6px 12px;border-radius: 0.25rem;border: 1px solid #ced4da;color: #212529a3;"
                formControlName="fabric"
                (click)="checkValid()"
                required
              >
                <option
                  (click)="checkValid()"
                  [ngValue]="null"
                  [disabled]="true"
                >
                  Eπιλεξτε Υφασμα
                </option>
                <option [ngValue]="fab.id" *ngFor="let fab of fabric">
                  {{ fab.name }}
                </option>
              </select>
            </div>
          </div>

          <div class="row">
            <hr>
          </div>


          <div class="row">
            <div class="col-6" style="display: flex;align-items: center;">
              <label >Επιλογη Προφιλ</label>
            </div>
            <div class="col-6">
              <select
              style="width: 100%;padding: 6px 12px;border-radius: 0.25rem;border: 1px solid #ced4da;color: #212529a3;"
              formControlName="profile"
              (click)="checkValid()"
              required
              (change)="needsExtra()"
            >
              <option
                (click)="checkValid()"
                [ngValue]="null"
                [disabled]="true"
              >
                Eπιλεξτε Προφιλ
              </option>
              <option [ngValue]="prof.id" *ngFor="let prof of profile">
                {{ prof.name }}
              </option>
            </select>
            </div>
          </div>

          <div class="row">
            <hr>
          </div>


          <div class="row" style="margin-bottom: 12px" *ngIf="extraInput">
            <div class="col-6" style="display: flex;align-items: center;">
              <label>Επιλογη Χρωματος</label>
            </div>
            <div class="col-6">
              <select
              style="width: 100%;padding: 6px 12px;border-radius: 0.25rem;border: 1px solid #ced4da;color: #212529a3;"
              formControlName="extra"
              required
            >
              <option [ngValue]="null" [disabled]="true">
                Eπιλεξτε Χρώμα
              </option>
              <option [ngValue]="extra.id" *ngFor="let extra of extraInputArray">
                {{ extra.name }}
              </option>
            </select>
            </div>
          </div>

          <div class="row">
            <button type="button" [disabled]="!dimentions.valid" (click)="findProduct()" class="btn btn-success">
              Εμφάνιση Προϊόντος
            </button>
          </div>
        </form>


        <p *ngIf="flag">{{ product[0].wholesale }}</p>
        <div
          class="col-lg-4 col-md-3 col-sm-10 col-12"
          *ngIf="shouldContinue == true"
          style="margin-top: 10%"
        ></div>

    </div>


