<app-navbar></app-navbar>
<div class="container content">
  <div class="row">
    <h2 translate>favorites.heading</h2>
    <hr style="opacity: 1;border: 1px solid #6dae49;">
  </div>
  <div class="row">
    <div class="col-xxl-4 col-xl-4 col-lg-4 col-md-4 col-sm-6 col-6" style="padding: 24px;" *ngFor="let fav of products">
      <div class="row" style="justify-content: right;">
        <a (click)="removeOne(fav.mtrl)" style="width: fit-content;cursor: pointer;">
          <img class="remove" alt=""  style="width: 32px;" srcset="">
        </a>
      </div>
      <div class="row">
        <div class="row" style="justify-content: center;align-items: center;margin-bottom: 12px;padding: 0;">
          <img [src]="fav.image"class="product-image" alt=""/>
        </div>
        <div class="row" style="justify-content: center;text-align: center;">
          <p class="product-title" *ngIf="currentLang == 'el'">{{ fav.onoma }}</p>
          <p class="product-title" *ngIf="currentLang == 'en'">{{ fav.onoma_eng }}</p>
        </div>
        <div class="row" style="justify-content: center;align-items: center">
          <hr style="opacity: 1;border: 1px solid #6dae49;width: 90%;">
        </div>
        <div class="row text-center" style="color: #878787;">
          <p *ngIf="!fav.hasOffer" style="margin: 0px;"><a translate>favorites.price</a> {{ fav.wholesale }}&euro;</p>
          <p *ngIf="!fav.hasOffer" style="margin: 0px;opacity: 0;"><a translate>favorites.price</a> {{ fav.wholesale }}&euro;</p>
          <p *ngIf="fav.hasOffer" style="margin: 0px;text-decoration: line-through;"><a translate>favorites.price</a> {{ fav.wholesale }}&euro;</p>
          <p *ngIf="fav.hasOffer" style="margin: 0px;color: #6dae49;"><a translate>favorites.price</a> {{ fav.offer }}&euro;</p>
          <p><a translate>favorites.stock</a> {{ fav.diathesima }}</p>
        </div>
        <div class="row">
          <button class="button" style="transition: background-color 0.2s ease-in-out;" (click)="addToCart(fav,addToCartBtn)" #addToCartBtn>
            <span translate>favorites.add</span>
            <div class="cart">
            <svg viewBox="0 0 36 26">
              <polyline points="1 2.5 6 2.5 10 18.5 25.5 18.5 28.5 7.5 7.5 7.5"></polyline>
              <polyline points="15 13.5 17 15.5 22 10.5"></polyline>
            </svg>
            </div>
            </button>
          <!-- <button class="btn btn-success" style="width: 100%;" (click)="addToCart(fav)">
            Προσθήκη
          </button> -->
        </div>
      </div>
    </div>
  </div>
</div>

<!-- <a (click)="removeOne(fav.mtrl)" style="cursor: pointer;">
  <img src="../../../assets/heart-alt-filled-green.svg" alt="" style="width: 32px;" srcset="">
</a>  -->

<!-- <div class="container" style="margin-top: 200px">
<div class="left-side">
  <div>
    <div class="myCart">
      <h2>Τα Αγαπημένα Mου</h2>
    </div>
  </div>
  <hr class="first-hr" />
  <div class="product" *ngIf="hasProducts">
    <div class="product" *ngFor="let fav of products">
      <img [src]="fav.img" alt="" style="width: 141px; height: 141px" />
      <div class="description">
        <div class="descLeft">
          <h4>{{ fav.name }}</h4>
          <p>{{ fav.name1 }}</p>
          <button class="btn btn-danger" (click)="removeOne(fav.mtrl)">
            X
          </button>
          <button class="btn btn-primary" style="margin-left: 10px" (click)="addToCart(fav)">
            Add To Cart
          </button>
        </div>
        <div class="descRight">
          <h3 *ngIf="fav.hasOffer!= true">${{ fav.wholesale }}</h3>
          <div *ngIf="fav.hasOffer == true">
            <h3 style="color:red;text-decoration: line-through;">{{fav.wholesale}}</h3>
            <h3>{{fav.offer}}</h3>
          </div>
        </div>
      </div>
      <hr />
    </div>
    <button
      class="btn btn-danger"
      style="margin-bottom: 20px ;"
      (click)="removeAll()"
    >
      Clear All
    </button>
  </div>
  <div *ngIf="!hasProducts">
    <h3>Δεν Υπάρχουν Προϊόντα</h3>
  </div>
</div>
</div> -->

<app-footer></app-footer>
