@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");

body {
  text-align: center;
}

* {
  margin: 0px;
  font-family: "Montserrat";
}

#productImg {
  background-color: black;
  height: 100px;
  width: 50%;
  margin-left: 25%;
  margin-bottom: 15%;
}

.noDisplay{
  display: none;
}

.yesDisplay{
  display: inline-block;
}

#productCard {
  cursor: pointer;
  margin-left: 10%;
  margin-top: 10%;
  padding-top: 2%;
  padding-bottom: 2%;
  width: 20%;
  height: auto;
  /* border: solid; */
  border-radius: 5%;
  text-align: center;
}

#productTitle {
  padding-top: 5%;
  padding-bottom: 5%;
  font-weight: bold;
  font-size: 24px;
}

#productDescription {
  padding-left: 5%;
  padding-right: 5%;
}

#productPrice h2 {
  display: inline;
  width: 50%;
  padding: 5%;
}
#productPrice p {
  display: inline;
  padding: 5%;
  width: 50%;
}
#productPrice {
  padding-top: 3%;
}

#addToCart #addToCartBtn {
  width: 50%;
  display: inline;
  margin-left: 5%;
  border: none;
  padding: 3% 3%;
  border-radius: 16px;
  color: white;
  background-color: #2c3e50;
  cursor: pointer;
  font-size: 16px;
}
#addToCart #amount {
  width: 50%;
  display: inline;
}
#addToCart {
  padding-top: 5%;
}
