

body {
  text-align: center;
}

* {
  margin: 0px;
 
}

.row{
  --bs-gutter-x: 0rem;
}

.productImg {
  background-color: black;
  border: none;
  height: 200px;
  
  border-top-left-radius: 16px;
  border-top-right-radius: 16px;
  margin-bottom: 5%;
}


.productCard {
  border: 0.5px solid #C8C8C8;
  border-radius: 16px;
  margin-right: 15px;
  margin-top: 15px; 
  padding-bottom: 24px;
  width: 300px;
  height: auto;
  /* border: solid; */
  border-radius: 5%;
  text-align: center;
}

.myBtn{
  background-color: #6DAE49;
  border-radius: 24px;
  border: none;
  padding: 8px 8px;
  color: white;
  font-family: 'Commissioner';
  transition: all 0.3s ease-in-out;
}

.myBtn:hover{
  background-color: #5d963e;
  box-shadow: rgba(100, 100, 111, .3) 0px 7px 29px 0px;
}

.stock{
  padding: 8px 0px;
  font-size: small;
}

.lines{
  border: solid 0.2px;
  border-color:#61656F ;
  width: 70%;
  margin-left: 15%;
}

.productTitle{
  font-family: 'Commissioner';
  padding: 32px 24px;
  height: 120px;
  font-size: large;
}

.productTitle p{
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}

.productTitle p:hover{
  transform: scale(1.02);
}

.price{
  font-family: 'Commissioner';
  padding: 12px 0px;
  font-size: large;
}

@media screen and (max-width:1000px){
  .productCard{
    width: 250px;
  }

  .productTitle{
    padding-top: 24px;
    
    font-size: medium;
  }

  .productImg{
    height: 170px;
  }

  .myBtn{
    font-size: 14px;
    padding: 6px 6px;
  }

}