/* Basic Styling */
* {box-sizing:border-box}

html, body {
  height: 100%;
  width: 100%;
  margin: 0;
  font-family: 'Roboto', sans-serif;
}





.description{
  list-style-type: none;
  margin-left: 33%;

}
.description li{
  display: inline-block;
  padding-right: 5%;
}

.description li a{
  cursor: pointer;
  color: black;
  text-decoration: none;
}

.active{
  font-weight: bold;
  color: black;
}




.numberInput{
  width: fit-content;
  background-color: #ffffff;
  border-radius: 45px;
  box-shadow: 0 20px 30px rgba(0,0,0,0.05);
}
input[type="number"]{
  -moz-appearance: textfield;
  text-align: center;
  font-size: 20px;
  border: none;
  background-color: #ffffff;
  color: #202030;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button{
  -webkit-appearance: none;
  margin: 0;
}
button{
  color: #6dae49;
  background-color: #ffffff;
  border: none;
  font-size: 20px;
  cursor: pointer;
}
#decrement{
  /* padding: 15px 5px 15px 25px; */
  padding: 10px;
  border-radius: 45px 0 0 45px;
  padding-left: 20px;
  padding-right: 5px;
}
#increment{
  /* padding: 15px 25px 15px 5px; */
  padding: 10px;
  padding-left: 5px;
  padding-right: 20px;
  border-radius: 0 45px 45px 0;
}



/* nav {
	position: relative;
	white-space: nowrap;
	background: white;
	padding: var(--underline-height) 0;
	margin: 2em 0;
	box-shadow: 0 1em 2em rgba(black, .05);
} */

.navigation {
	position: relative;
	background: white;
	padding: var(--underline-height) 0;
	margin: 2em 0;
	box-shadow: 0 1em 2em rgba(black, .05);
}

.underline {
	display: block;
	position: absolute;
	/* z-index: 0; */
	bottom: 0;
	left: 0;
	height: .5em;
	/* width: 20%; */
	background: #6dae49;
	pointer-events: none;
	mix-blend-mode: multiply;
	transition: transform 0.5s ease-in-out;
}

.navigation a {
	/* display: inline-block; */
	/* z-index: 10; */
	/* width: 12%; */
	padding: 1em 0;
  font-size: 18px;
	text-align: center;
	cursor: pointer;
  text-decoration: none;
  color: black;
  transform: scale(1);
  transition: all .3s ease-in-out;
}

.navigation a:hover{
  transform: scale(1.1);
}

.imageRow{
  --bs-gutter-x: 0.2rem !important;
}

.imageRow2{
  --bs-gutter-x: 0.5rem !important;
}

nav.black .underline {
  background: #6dae49;
  border-radius: 0.25em;
  height: 0.25rem;
  mix-blend-mode: initial;
}

.smallImages{
  width: 150px !important;
  height: 150px;
}

@media (max-width: 1200px){
  .right-section{
    margin-left: 0%;
  }
  .line{
    display: block !important;
  }

  .first-row{
    margin-top: 16px !important;
  }
  .underline{
    width: 15% !important;
    left: 5% !important;
  }
}

@media (max-width: 992px){
  .right-section{
    margin-left: 0%;
  }

  .navigation a{
    font-size: 14px !important;
  }

  .underline{
    height: 0.2rem !important;
  }

  .second-swiper img{
    width: 80px !important;
    height: 80px !important;
  }
}

@media (max-width: 768px){
  .right-section{
    margin-left: 0%;
  }
  .second-swiper-holder{
    justify-content: center !important;
  }

  .navigation a{
    font-size: 12px !important;
  }

  .big img{
    width: 350px !important;
    height: 350px !important;
  }

  .smallImages{
    width: 120px !important;
    height: 120px;
  }
}


@media (max-width: 576px){
  .big img{
    width: 250px !important;
    height: 250px !important;
  }
  .smallImages{
    width: 100px !important;
    height: 100px;
  }

}

@media (max-width: 420px){
  .smallImages{
    width: 80px !important;
    height: 80px;
  }
}
