/* Basic Styling */
* {box-sizing:border-box}

html, body {
  height: 100%;
  width: 100%;
  margin: 0;
  font-family: 'Roboto', sans-serif;
}

<<<<<<< HEAD
.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 15px;
  display: flex;
  margin-bottom: 100px;
}

/* Columns */
.left-column {
  margin-top: 60px;
  width: 65%;
  position: relative;
  margin-right: 30px;
}

.right-column {
  width: 35%;
  margin-top: 60px;
}


/* Left Column */
.left-column img {
  width: 100%;
  /* position: absolute; */
  /* left: 0;
  top: 0;
  opacity: 1;
  transition: all 0.3s ease; */
}

.product-price span:nth-child(1){

}

.headerImg {
  width: 100%;
}

.myCards {
  margin-bottom: 12px;

}


@media (max-width: 279px) {
    .cardHolder {

      padding: 0px 60px;
    }
}

@media (min-width: 279px) {
    .cardHolder {

      padding: 0px 60px;
    }
}

@media (min-width: 360px) {
  .cardHolder {

    padding: 0px 60px;
  }
}

@media (min-width: 576px) {
  .cardHolder {
    padding: 0px 10px;

  }
}



@media (min-width: 992px) {
  .cardHolder {
    padding: 0px 160px;

  }
}

@media (min-width: 1200px) {
  .cardHolder {
    padding: 0px 240px;

}


}

@media (min-width: 1400px) {


.cardHolder {
    padding: 0px 0px;

  }
}


@media (max-width: 576px) {
  .myCards .card-body p {
    font-size: 10px;
  }
}

@media (max-width: 576px) {
  .myCards .card-body h4 {
    font-size: 16px;
  }
}

.headerImg {
    width: 100%;
}

@media (max-width: 767px) {
  .myCards {
    width: 50%;
    margin-left: 25%;
  }
}

@media (max-width: 575px) {
  .myCards {
    width: 80%;
    margin-left: 10%;
  }
}

.myCards .card-body hr {
  border-color: #6dae49;
}

.card-title {
  width: 70%;
}

.categoriesLink {
   cursor: pointer;
  }

@media (max-width: 767px) {
  .categoriesLink {
    font-size: 12px;
  }
}

@media (max-width: 576px) {
  .myCol {
    width: 40%;
  }
}

@media (max-width: 575px) {
  .categoriesLink {
    font-size: 8px;
  }
}


.myBtn {
    background: #6DAE49;
    box-shadow: 0px 0px 10px rgba(109, 174, 73, 0.6);
    border-radius: 5px;
    color: white;
  }

@media (max-width: 992px) {
    .myBtn {
      font-size: 12px;
    }
  }

@media (max-width: 576px) {
    .myBtn {
      font-size: 8px;
    }
  }

  .scroll-downs {
    /*position: absolute;*/
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    width: 34px;
    height: 55px;
    margin-top: 150px;
  }

  .mousey {
    width: 3px;
    padding: 10px 15px;
    height: 35px;
    border: 2px solid #fff;
    border-radius: 25px;
    opacity: 0.75;
    box-sizing: content-box;
  }

  @media (max-width: 1200px) {
    .mousey {
      width: 3px;
      padding: 10px 10px;
      height: 25px;
      border: 2px solid #fff;
      border-radius: 25px;
      opacity: 0.75;
      box-sizing: content-box;
    }
  }

  .scroller {
    width: 3px;
    height: 10px;
    border-radius: 25%;
    background-color: #6DAE49;
    animation-name: scroll;
    animation-duration: 1.5s;
    animation-timing-function: cubic-bezier(.15,.41,.69,.94);
    animation-iteration-count: infinite;
  }

  @keyframes scroll {
    0% {
      opacity: 0;
    }
    10% {
      transform: translateY(0);
      opacity: 1;
    }
    100% {
      transform: translateY(15px);
      opacity: 0;
    }
  }

  .hero {
    margin-top: 300px;
    position: relative;
    height: 800px;
    z-index: -1;
  }

  @media (max-width: 1700px) {
    .hero {
      height: 750px;
      margin-top: 200px;
    }
  }

  @media (max-width: 1500px) {
    .hero {
      height: 700px;
      margin-top: 200px;
    }
  }

  @media (max-width: 1400px) {
    .hero {
      height: 600px;
      margin-top: 200px;
    }
  }

  @media (max-width: 1200px) {
    .hero {
      height: 550px;
      margin-top: 150px;
    }
  }

  @media (max-width: 992px) {
    .hero {
      height: 450px;
      margin-top: 120px;
    }
  }

  @media (max-width: 768px) {
    .hero {
        margin-top: 120px;
      height: 330px;
    }
  }



  @media (max-width: 576px) {
    .hero {
        margin-top: 80px;
      height: 270px;
    }
  }

  @media (max-width: 440px) {
    .hero {

      height: 200px;
    }
  }

  @media (max-width: 380px) {
    .hero {
        margin-top: 50px;
      height: 170px;
    }
  }

  @media (max-width: 280px) {
    .hero {

      height: 150px;
    }
  }

  @media (max-width: 1400px) {
    .scroll-downs {
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      margin: auto;
      width: 28px;
      height: 55px;
      margin-top: 120px;
    }
  }

  @media (max-width: 1200px) {
    .scroll-downs {
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      margin: auto;
      width: 28px;
      height: 55px;
      margin-top: 150px;
    }
  }

  @media (max-width: 992px) {
    .scroll-downs {
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      margin: auto;
      width: 28px;
      height: 55px;
      margin-top: 50px;
    }
  }

  @media (max-width: 768px) {
    .scroll-downs {
      display: none;
    }
  }

  .heroText {
    margin-top: 200px;
  }

  @media (max-width: 1400px) {
    .heroText {
      margin-top: 100px;
    }
  }

  @media (max-width: 1200px) {
    .heroText {
      margin-top: 50px;
    }
  }

  @media (max-width: 992px) {
    .heroText {
      margin-top: 20px;
    }
  }

  @media (max-width: 400px) {
    .heroText {
      margin-top: 0px;
    }
  }

  @media (max-width: 1200px) {
    .heroText p {
      font-size: 12px;
    }
  }

  @media (max-width: 768px) {
    .heroText p {
      font-size: 10px;
    }
  }

  @media (max-width: 576px) {
    .heroText p {
      font-size: 8px;
    }
  }

  @media (max-width: 576px) {
    .heroText p {
      margin-bottom: 0;
    }
  }

  @media (max-width: 280px) {
    .heroText p {
      font-size: 6px;
    }
  }

  @media (max-width: 1200px) {
    .heroText h1 {
      font-size: 24px;
    }
  }

  @media (max-width: 768px) {
    .heroText h1 {
      font-size: 16px;
    }
  }

  @media (max-width: 576px) {
    .heroText h1 {
      font-size: 12px;
    }
  }

  @media (max-width: 280px) {
    .heroText h1 {
      font-size: 8px;
      margin-bottom: 0px;
    }
  }

  @media (max-width: 440px) {
    .productName {
      font-size: 16px;
    }
  }

  .productDesc {
    font-size: 12px;
  }
/* Right Column */

/* Product Description */
.product-description {
  border-bottom: 1px solid #E1E8EE;
  margin-bottom: 20px;
}
.product-description span {
  font-size: 12px;
  color: #358ED7;
  letter-spacing: 1px;
  text-transform: uppercase;
  text-decoration: none;
}
.product-description h1 {
  font-weight: 300;
  font-size: 52px;
  color: #43484D;
  letter-spacing: -2px;
}
.product-description h3 {
  margin-bottom: 40px;
  font-weight: 300;
  color: #43484D;
}
.product-description p {
  font-size: 16px;
  font-weight: 300;
  color: #86939E;
  line-height: 24px;
}

/* Product Configuration */
.product-color span,
.cable-config span {
  font-size: 14px;
  font-weight: 400;
  color: #86939E;
  margin-bottom: 20px;
  display: inline-block;
}

/* Product Color */
/* .product-color {
  margin-bottom: 30px;
}

.color-choose div {
  display: inline-block;
}

.color-choose input[type="radio"] {
  display: none;
}

.color-choose input[type="radio"] + label span {
  display: inline-block;
  width: 40px;
  height: 40px;
  margin: -1px 4px 0 0;
  vertical-align: middle;
  cursor: pointer;
  border-radius: 50%;
}

.color-choose input[type="radio"] + label span {
  border: 2px solid #FFFFFF;
  box-shadow: 0 1px 3px 0 rgba(0,0,0,0.33);
}

.color-choose input[type="radio"]#red + label span {
  background-color: #C91524;
}
.color-choose input[type="radio"]#blue + label span {
  background-color: #314780;
}
.color-choose input[type="radio"]#black + label span {
  background-color: #323232;
} */
/*
.color-choose input[type="radio"]:checked + label span {
  background-image: url(images/check-icn.svg);
  background-repeat: no-repeat;
  background-position: center;
} */

/* Cable Configuration */
.cable-choose {
  margin-bottom: 20px;
}

.cable-choose button {
  border: 2px solid #E1E8EE;
  border-radius: 6px;
  padding: 13px 20px;
  font-size: 14px;
  color: #5E6977;
  background-color: #fff;
  cursor: pointer;
  transition: all .5s;
}

.cable-choose button:hover,
.cable-choose button:active,
.cable-choose button:focus {
  border: 2px solid #86939E;
  outline: none;
}

.cable-config {
  border-bottom: 1px solid #E1E8EE;
  margin-bottom: 20px;
}

.cable-config a {
  color: #358ED7;
  text-decoration: none;
  font-size: 12px;
  position: relative;
  margin: 10px 0;
  display: inline-block;
}
.cable-config a:before {
  content: "?";
  height: 15px;
  width: 15px;
  border-radius: 50%;
  border: 2px solid rgba(53, 142, 215, 0.5);
  display: inline-block;
  text-align: center;
  line-height: 16px;
  opacity: 0.5;
  margin-right: 5px;
}

/* Product Price */
.product-price {
  display: flex;
  align-items: center;
}

.product-price span {
  font-size: 26px;
  font-weight: 300;
  color: #43474D;
  margin-right: 20px;
}

.cart-btn {
  display: inline-block;
  background-color: #415e7a;
  border-radius: 6px;
  font-size: 16px;
  color: #FFFFFF;
  text-decoration: none;
  padding: 12px 30px;
  cursor: pointer;
  transition: all .5s;
}
.cart-btn:hover {
  background-color: #1c2732;
  box-shadow: rgba(100, 100, 111, 0.4) 0px 7px 29px 0px;
  transform: scale(1.1);
}

/* Responsive */
@media (max-width: 940px) {
  .container {
    flex-direction: column;
    margin-top: 60px;
  }

  .left-column,
  .right-column {
    width: 100%;
  }

  .left-column img {
    width: 300px;
    right: 0;
    top: -65px;
    left: initial;
  }
}

@media (max-width: 535px) {
  .left-column img {
    width: 220px;
    top: -85px;
  }
}

.table span{
  margin-bottom: 0px;
}


.first-span span{
  font-size: 14px;
  font-weight: 400;
  color: #86939E;
  margin-bottom: 10px;
  display: inline-block;
  text-transform: none;
}

.table>:not(:first-child){
    border-top: none;
}

/* carousel */

/* Slideshow container */
.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
}

/* Make the images invisible by default */
.Containers {
  display: none;
}

.Containers img{
  height: 550px;
}

/* forward & Back buttons */
.Back, .forward {
  cursor: pointer;
  position: absolute;
  top: 48%;
  width: auto;
  margin-top: -23px;
  padding: 17px;
  color: grey;
  font-weight: bold;
  font-size: 19px;
  transition: 0.4s ease;
  border-radius: 0 5px 5px 0;
  user-select: none;
}

/* Place the "forward button" to the right */
.forward {
  right: 0;
  border-radius: 4px 0 0 4px;
}

/*when the user hovers,add a black background with some little opacity */
.Back:hover, .forward:hover {
  background-color: rgba(0,0,0,0.8);
}
=======
>>>>>>> 8be158b31a74b57cf3708fcd3112b95949f25273




.description{
  list-style-type: none;
  margin-left: 33%;

}
.description li{
  display: inline-block;
  padding-right: 5%;
}

.description li a{
  cursor: pointer;
  color: black;
  text-decoration: none;
}

.active{
  font-weight: bold;
  color: black;
}




.numberInput{
  width: fit-content;
  background-color: #ffffff;
  border-radius: 45px;
  box-shadow: 0 20px 30px rgba(0,0,0,0.05);
}
input[type="number"]{
  -moz-appearance: textfield;
  text-align: center;
  font-size: 20px;
  border: none;
  background-color: #ffffff;
  color: #202030;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button{
  -webkit-appearance: none;
  margin: 0;
}
button{
  color: #6dae49;
  background-color: #ffffff;
  border: none;
  font-size: 20px;
  cursor: pointer;
}
#decrement{
  /* padding: 15px 5px 15px 25px; */
  padding: 10px;
  border-radius: 45px 0 0 45px;
  padding-left: 20px;
  padding-right: 5px;
}
#increment{
  /* padding: 15px 25px 15px 5px; */
  padding: 10px;
  padding-left: 5px;
  padding-right: 20px;
  border-radius: 0 45px 45px 0;
}



/* nav {
	position: relative;
	white-space: nowrap;
	background: white;
	padding: var(--underline-height) 0;
	margin: 2em 0;
	box-shadow: 0 1em 2em rgba(black, .05);
} */

.navigation {
	position: relative;
	white-space: nowrap;
	background: white;
	padding: var(--underline-height) 0;
	margin: 2em 0;
	box-shadow: 0 1em 2em rgba(black, .05);
}

.underline {
	display: block;
	position: absolute;
	/* z-index: 0; */
	bottom: 0;
	left: 0;
	height: .5em;
	/* width: 20%; */
	background: #6dae49;
	pointer-events: none;
	mix-blend-mode: multiply;
	transition: transform 0.5s ease-in-out;
}

.navigation a {
	display: inline-block;
	/* z-index: 10; */
	/* width: 12%; */
	padding: 1em 0;
  font-size: 18px;
	text-align: center;
	cursor: pointer;
  text-decoration: none;
  color: black;
  transform: scale(1);
  transition: all .3s ease-in-out;
}

.navigation a:hover{
  transform: scale(1.1);
}

nav.black .underline {
  background: #6dae49;
  border-radius: 0.25em;
  height: 0.25rem;
  mix-blend-mode: initial;
}

@media (max-width: 1200px){
  .right-section{
    margin-left: 22.5%;
  }

  .first-row{
    margin-top: 16px !important;
  }
}

@media (max-width: 992px){
  .right-section{
    margin-left: 17.5%;
  }

  .second-swiper img{
    width: 80px !important;
    height: 80px !important;
  }
}
