<app-add-image-popup *ngIf="flag && window"></app-add-image-popup>
<app-offer-popup *ngIf="offer"></app-offer-popup>
<div class="col-sm-8 text-left" >
  <h1>{{ answer }}</h1>
  <h1>Update Products</h1>
  <p>Lorem ipsum dolor sit amet,
    consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
    Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
    Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum consectetur
    adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation
    ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
  <app-pop-up-login [button]="'Update Products'" [id]="'4'"></app-pop-up-login>
  <hr>

  <h3>Current Products</h3>
  <app-searchbar></app-searchbar>
  <br>
  <table class="table table-dark" >
    <thead>
    <tr>


      <th scope="col">Code</th>
      <th scope="col">Name</th>
      <th scope="col">Retail Price</th>
      <th scope="col">Wholesale Price</th>
      <th scope="col">Description</th>
      <th scope="col">Edit Description</th>
      <th scope="col">Data Sheet</th>
      <th scope="col">Edit Data Sheet</th>
      <th scope="col">Offer</th>
      <th scope="col">Stock</th>
      <th scope="col">Image</th>
      <th scope="col">Change</th>
      <th scope="col">Show In Homepage</th>



    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let item of products | paginate: {
          itemsPerPage: 9,
          currentPage: page ,
          totalItems: products.length
};">

      <td >{{ item.code }}</td>
      <td style="padding-right: 300px;"><p style="width: 350%;"> {{ item.name }}</p></td>
      <td>{{ item.retail }}</td>
      <td>{{ item.wholesale }}</td>
      <td [innerHTML]="item.description"></td>
      <td *ngIf="item.description == 'Empty'">
            <button (click)="openForm(item.mtrl)" class="btn btn-success">Edit Description</button>
      </td>
      <td *ngIf="item.description != 'Empty'">
        <button (click)="openForm(item.mtrl)" class="btn btn-success">Edit Description</button>
  </td>
       <td [innerHTML]="item.data_sheet"></td>
       <td>
        <button class="btn btn-success" (click)="scrollToForm(item.mtrl)">Edit Data Sheet</button>
       </td>
      <td>
        <button  *ngIf="!item.hasOffer" class="btn btn-success" (click)="openOffer(item)">Add offer</button>
        <p *ngIf="item.hasOffer">{{item.offer}}</p>
        <button class="btn btn-success" *ngIf="item.hasOffer" (click)="openOffer(item)">Change Offer</button>
        <br>


        <button class="btn btn-danger" *ngIf="item.hasOffer" (click)="deleteOffer(item)">Remove Offer</button>
      </td>
      <td>{{ item.stock }}</td>
      <td>

        <button class="btn btn-success" *ngIf="item.img=='EMPTY'" (click)="open(item.mtrl)">Add image</button>
        <img *ngIf="item.img != 'EMPTY'" style="width: 100%;" [src]="item.img" />


      </td>
      <td>
        <button class="btn btn-success" *ngIf="item.img !='EMPTY'" (click)="open(item.mtrl)">Change Photo</button>
      </td>
      <td>
        <input class="yoyo" type="checkbox"  style="width: 100%" [disabled]="!item.hasOffer"  (click)="test($event)">
        <button class="btn btn-success" style="width: 100%" (click)="addToHomePage(item.mtrl)">Aply Changes</button>
      </td>

    </tr>

    </tbody>
  </table>
  <pagination-controls class="text-center my-pagination" (pageChange)="changePage($event)"></pagination-controls>
  <form (ngSubmit)="udpateDesc()" class="form-control" [formGroup]="desciption" *ngIf="openFormDesc">
    <label>Επεξεργασία Περιγραφής</label>
    <textarea class="form-control" formControlName="desc"></textarea>
    <button type="submit" class="btn btn-success">Αποθήκευση Αλλαγών</button>
  </form>
  <form (ngSubmit)="updateSheet()" class="form-control" [formGroup]="dataSheet" *ngIf="openFormSheet">
    <label>Επεξεργασία Data Sheet</label>
    <textarea class="form-control" formControlName="sheet"></textarea>
    <button type="submit" class="btn btn-success">Αποθήκευση Αλλαγών</button>
  </form>
</div>
