<app-navbar></app-navbar>
<div class="heroText">
    <img src="../../assets/Line 1.svg" class="line" alt="" srcset="">
    <h1 class="title">Lorem ipsum dolor sit amet, consectetur adipiscing elit</h1>
    <p class="paragraph">Lorem ipsum dolor sit amet, consectetur adipiscing elit</p>
    <button class="btn myBtn">Learn More</button>
</div>
<div class="category" (click)="goToProducts(mainCategories[0])" (mouseover)="showDesc(mainCategories[0])" (mouseleave)="hideDesc(mainCategories[0])">
    <img class="categoryLogo" [src]="showDescription1? '../../assets/control-logo-white-with-green.svg' : '../../assets/control-logo-white.svg'" alt="">
    <div *ngIf="showDescription1" [ngClass]="showDescription1?  'description1' : 'hideDescription1'">
        <h3 class="categoryDesc1">Control your life!</h3>
        <img src="../../assets/Line 2.png" class="lineInside" alt="">
        <p class="categoryDesc2">Ασύρματα Τηλεκοντρόλ και Δέκτες για Τέντες, Ρολά Αλουμινίου, Γκαραζόπορτες, Κουρτίνες.</p>
    </div>
</div>
<div class="category2" (click)="goToProducts(mainCategories[1])" (mouseover)="showDesc(mainCategories[1])" (mouseleave)="hideDesc(mainCategories[1])">
    <img class="categoryLogo" [src]="showDescription2? '../../assets/motion-logo-white-with-green.svg' : '../../assets/motion-logo-white.svg'" alt="">
    <div *ngIf="showDescription2" [ngClass]="showDescription2?  'description2' : 'hideDescription2'">
        <h3 class="categoryDesc1">Move everything with ease!</h3>
        <img src="../../assets/Line 2.png" class="lineInside" alt="">
        <p class="categoryDesc2">Σωληνωτά μοτέρ για Τέντες, Μοτέρ για Ρολά, Μοτέρ Αυλόπορτας, Μοτέρ Κουρτίνας.</p>
    </div>
</div>
<div class="category3" (click)="goToProducts(mainCategories[2])" (mouseover)="showDesc(mainCategories[2])" (mouseleave)="hideDesc(mainCategories[2])">
    <img class="categoryLogo" [src]="showDescription3? '../../assets/mosqui-logo-white-with-green.svg' : '../../assets/mosqui-logo-white.svg'" alt="">
    <div *ngIf="showDescription3" [ngClass]="showDescription3?  'description3' : 'hideDescription3'">
        <h3 class="categoryDesc1">Protect your precious!</h3>
        <img src="../../assets/Line 2.png" class="lineInside" alt="">
        <p class="categoryDesc2">Συστήματα Σίτας για προστασία από τα έντομα.</p>
    </div>
</div>
<div class="category4" (click)="goToProducts(mainCategories[3])" (mouseover)="showDesc(mainCategories[3])" (mouseleave)="hideDesc(mainCategories[3])">
    <img class="categoryLogo" [src]="showDescription4? '../../assets/profile-logo-white-with-green.svg' : '../../assets/profile-logo-white.svg'" alt="">
    <div *ngIf="showDescription4" [ngClass]="showDescription4?  'description4' : 'hideDescription4'">
        <h3 class="categoryDesc1">Confort is everything!</h3>
        <img src="../../assets/Line 2.png" class="lineInside" alt="">
        <p class="categoryDesc2">Συστήματα Κουφωμάτων Αλουμινίου και PVC για ένα σύγχρονο σπίτι.</p>
    </div>
</div>
<img [src]="source"  class="heroImg" alt="">

<div class="offersTitle">
    <h1>Προσφορές</h1>
    <img src="../../assets/Line 1.svg" alt="" srcset="">
</div>

<img src="../../assets/upper lines.svg" class="upperLines" alt="">
<img src="../../assets/down lines.svg" class="downLines" alt="">

<div class="offer1">
    <div class="percentageAlt1"><p>{{offer1.offer}}</p></div>
    <img src="../../assets/straight lines.svg" class="straightLines" alt="">
    <div class="offerPercentage">
        <h1>{{offer1.discount}}%</h1>
        <h1>OFF</h1>
    </div>
    <div class="offerProduct1"><img width="100%" [src]="offer1.img"></div>
    <div class="offerProductTitle1">
        <img src="../../assets/Line 1.svg" alt="" srcset="">
        <h2>{{offer1.name}}</h2>
        <p>Product Description</p>

    </div>

    <button class="offerBtn1" (click)="handleProductPage(offer1)">See Offer</button>
</div>


<app-footer></app-footer>


