
<div style="position: realative; z-index: -1000; top: 0;left: 0;">
  <app-navbar></app-navbar>
  <!-- <img
    src="https://perlarest.vinoitalia.gr/php-auth-api/upload/assets/shutterstock_1681915153%201.png"
    style="width: 100%"
    height="100%"
    alt="Φωτογραφια αρχικης σελιδας"
    i18n-alt
  /> -->
  <!-- <img style="cursor: pointer;border-radius: 8px;border: 1px solid rgba(0,0,0,0.2);" width="100%"  src="../../assets/AdobeStock_327781015.jpeg" alt=""> -->
    <swiper
    [config]="config"
    (slideChange)="onSlideChange(swiper)"
    (swiper)="setThumbsSwiper($event)"
    class="swiperHome"
    #swiper

  >
    <!-- <ng-template swiperSlide>
      <div style="background-image: url(../../assets/AdobeStock_327781015.jpeg);background-size: cover;">
        <p class="hero-text" translate>home.title_before_br</p>
        <div class="container" style="width: 100%;height: fit-content;">

          <button class="myBtn">Μάθε Περισσότερα</button>
        </div>
      </div>

    </ng-template>
    <ng-template swiperSlide>
      <div style="background-image: url(../../assets/AdobeStock_340805134.jpeg);background-size: cover;">
        <p class="hero-text" translate>home.title_before_br</p>
        <div class="container" style="width: 100%;height: fit-content;">

          <button class="myBtn">Μάθε Περισσότερα</button>
        </div>
      </div>

    </ng-template>
    <ng-template swiperSlide>
      <div style="background-image: url(../../assets/AdobeStock_323276777.jpeg);background-size: cover;">
        <p class="hero-text" translate>home.title_before_br</p>
        <div class="container" style="width: 100%;height: fit-content;">

          <button class="myBtn">Μάθε Περισσότερα</button>
        </div>
      </div>

    </ng-template>
    <ng-template swiperSlide>
      <div style="background-image: url(../../assets/AdobeStock_199421624.jpeg);background-size: cover;">
        <p class="hero-text" translate>home.title_before_br</p>
        <div class="container" style="width: 100%;height: fit-content;">

          <button class="myBtn">Μάθε Περισσότερα</button>
        </div>
      </div>

    </ng-template> -->
    <ng-template swiperSlide  *ngFor="let single of carousel">
      <div style="background-image: url(../../assets/shutterstock_1812242566\ \(1\).jpg);background-size: cover;">
        <p class="hero-text" translate>{{single.text}}</p>
        <div class="container" style="width: 100%;height: fit-content;">

          <button [routerLink]="single.route" class="myBtn">Μάθε Περισσότερα</button>
        </div>
      </div>
      <!-- <img style="cursor: pointer;border-radius: 8px;border: 1px solid rgba(0,0,0,0.2);"  src="../../assets/AdobeStock_199421624.jpeg" alt=""> -->
    </ng-template>
    <!-- <ng-template swiperSlide><img style="cursor: pointer;border-radius: 8px;border: 1px solid rgba(0,0,0,0.2);"  [src]="" alt=""></ng-template> -->
  </swiper>

</div>


<!-- <div class="hero">
  <div class="container heroText">
    <div class="row">
      <div class="col">
        <div class="row">
          <div
            class="col col-12 topText"
            style="text-align: center; color: white"
          >
            <p translate>
              home.first_P_before_br<br />home.second_p_after_br<br />
            </p>
          </div>
        </div>
      </div>
    </div>
    <div class="row" style="text-align: center; color: white">
      <div class="col col-12">
        <h1 translate>
          home.title_before_br <br />
          home.title_after_br<br /><br />
        </h1>
      </div>
    </div>
  </div>
  <div class="scroll-downs">
    <div class="mousey">
      <div class="scroller"></div>
    </div>
  </div>
</div> -->
<div class="container cardHolder" style="margin-top: 24px;">
  <div class="row" style="justify-content: center; align-items: center">
    <div
      (click)="goToProducts({ id: 114, name: 'Control' })"
      class="card col col-xxl-2 col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12"
    >
      <div
        class="image_container"
        style="
          background: url(../../assets/Frame\ 106.png);
          background-size: cover;
          background-position: 50%;
          background-repeat: no-repeat;
        "
      ></div>

      <div class="text_back">
        <div>
          <img
            class="card-title"
            style="cursor: pointer"
            src="../../assets/control-logo-dark3 1.svg"
          />

          <p translate>home.control_description</p>
        </div>
      </div>
    </div>


    <div
      (click)="goToProducts({ id: 115, name: 'Motion' })"
      class="card col col-xxl-2 col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12"
    >

      <div
        class="image_container"
        style="
          background: url('../../assets/Frame 106 (1).png');
          background-size: cover;
          background-position: 20%;
          background-repeat: no-repeat;
        "
      ></div>

      <div class="text_back">
        <div>
          <img
            class="card-title"
            style="cursor: pointer"
            src="../../assets/motion-logo-dark2%201.svg"
          />

          <p translate>home.motion_description</p>
        </div>
      </div>

    </div>

    <div
      (click)="goToProducts({ id: 116, name: 'Mosqui' })"
      class="card col col-xxl-2 col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12"
    >
      <div
        class="image_container"
        style="
          background: url('../../assets/Frame%20106%20(2).png');
          background-size: cover;
          background-position: 50%;
          background-repeat: no-repeat;
        "
      ></div>

      <div class="text_back">
        <div>
          <img
            class="card-title"
            style="cursor: pointer"
            src="../../assets/mosqui-logo-dark2%201.svg"
          />

          <p translate>home.mosqui_plus_description</p>
        </div>
      </div>
    </div>

    <div
      (click)="goToProducts({ id: 117, name: 'Profile' })"
      class="card col col-xxl-2 col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12"
    >
      <div
        class="image_container"
        style="
          background: url('../../assets/Frame%20106%20(3).png');
          background-size: cover;
          background-position: 50%;
          background-repeat: no-repeat;
        "
      ></div>

      <div class="text_back">
        <div>
          <img
            class="card-title"
            style="cursor: pointer"
            src="../../assets/profile-logo-dark2%201.svg"
          />

          <p class="card-text" translate>home.profile_description</p>
        </div>
      </div>
    </div>
    <div
    (click)="goToProducts({ id: 118, name: 'Accessories' })"
    class="card col col-xxl-2 col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12"
  >
    <div
      class="image_container"
      style="
        background: url('https://perlarest.vinoitalia.gr/php-auth-api/images.png');
        background-size: cover;
        background-repeat: no-repeat;
      "
    ></div>

    <div class="text_back">
      <div>
        <img
        class="card-title"
        style="cursor: pointer"
        src="../../assets/accessiries logo (2).svg"
      />
        <!-- <img
          class="card-title"
          style="cursor: pointer"
          src="../../assets/profile-logo-dark2%201.svg"
        /> -->

        <p class="card-text" translate>home.profile_description</p>
      </div>
    </div>
  </div>
    <!-- <div class="col col-xxl-3 col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12 cardCol">
      <div class="card" style="border: none;box-shadow: 0px 0px 13px rgba(0, 0, 0, 0.15);border-radius: 9px;">
        <div class="card-header" style="padding: 0;" (click)="goToProducts({id: 114,name: 'Control'})"><img class="headerImg" src="../../assets/Frame 106.png" style="border-top-right-radius: 9px;border-top-left-radius: 9px;cursor: pointer;"></div>
        <div class="card-body" ><img class="card-title" (click)="goToProducts({id: 114,name: 'Control'})" style="cursor: pointer;" src="../../assets/control-logo-dark3 1.svg">
          <hr>
          <p class="card-text" translate>home.control_description</p>
          <div class="row">
            <div class="col col-xxl-6 col-xl-6 col-lg-6 col-md-6 col-sm-8 col-8"><a class="categoriesLink" (click)="goToProducts({id: 114,name: 'Control'})" style="color: #6dae49;text-decoration: none;" translate>home.see_more_button</a></div>
            <div class="col col-xxl-6 col-xl-6 col-lg-6 col-md-6 col-sm-4 col-4" style="padding: 0;vertical-align: center;"><img class="arrow" src="../../assets/Arrow 1.svg" width="18" height="18"></div>

          </div>
        </div>
      </div>
    </div>

    <div class="col col-xxl-3 col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12 cardCol">
      <div class="card" style="border: none;box-shadow: 0px 0px 13px rgba(0, 0, 0, 0.15);border-radius: 9px;">
        <div class="card-header" style="padding: 0;" (click)="goToProducts({id: 115,name: 'Motion'})"><img class="headerImg" src="../../assets/Frame 106 (1).png" style="border-top-right-radius: 9px;border-top-left-radius: 9px;cursor: pointer;"></div>
        <div class="card-body"><img class="card-title" (click)="goToProducts({id: 115,name: 'Motion'})" style="cursor: pointer;" src="../../assets/motion-logo-dark2%201.svg">
          <hr>
          <p class="card-text" translate>home.motion_description</p>
          <div class="row">
            <div class="col col-xxl-6 col-xl-6 col-lg-6 col-md-6 col-sm-8 col-8"><a class="categoriesLink" (click)="goToProducts({id: 115,name: 'Motion'})" style="color: #6dae49;text-decoration: none;" translate>home.see_more_button</a></div>
            <div class="col col-xxl-6 col-xl-6 col-lg-6 col-md-6 col-sm-4 col-4" style="padding: 0;vertical-align: center;"><img class="arrow" src="../../assets/Arrow%201.svg" width="18" height="18"></div>

          </div>
        </div>
      </div>
    </div>

    <div class="col col-xxl-3 col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12 cardCol">
      <div class="card" style="border: none;box-shadow: 0px 0px 13px rgba(0, 0, 0, 0.15);border-radius: 9px;">
        <div class="card-header" style="padding: 0;" (click)="goToProducts({id: 116,name: 'Mosqui'})"><img class="headerImg" src="../../assets/Frame%20106%20(2).png" style="border-top-right-radius: 9px;border-top-left-radius: 9px;cursor: pointer;"></div>
        <div class="card-body"><img class="card-title" (click)="goToProducts({id: 116,name: 'Mosqui'})" style="cursor: pointer;" src="../../assets/mosqui-logo-dark2%201.svg">
          <hr>
          <p class="card-text" translate>home.mosqui_plus_description</p>
          <div class="row">
            <div class="col col-xxl-6 col-xl-6 col-lg-6 col-md-6 col-sm-8 col-8"><a class="categoriesLink" (click)="goToProducts({id: 116,name: 'Mosqui'})" style="color: #6dae49;text-decoration: none;" translate>home.see_more_button</a></div>
            <div class="col col-xxl-6 col-xl-6 col-lg-6 col-md-6 col-sm-4 col-4" style="padding: 0;vertical-align: center;"><img class="arrow" src="../../assets/Arrow%201.svg" width="18" height="18"></div>

          </div>
        </div>
      </div>
    </div>

    <div class="col col-xxl-3 col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12 cardCol">
      <div class="card" style="border: none;box-shadow: 0px 0px 13px rgba(0, 0, 0, 0.15);border-radius: 9px;">
        <div class="card-header" style="padding: 0;" (click)="goToProducts({id: 117,name: 'Profile'})"><img class="headerImg" src="../../assets/Frame%20106%20(3).png" style="border-top-right-radius: 9px;border-top-left-radius: 9px;cursor: pointer;"></div>
        <div class="card-body"><img class="card-title" (click)="goToProducts({id: 117,name: 'Profile'})" style="cursor: pointer;" src="../../assets/profile-logo-dark2%201.svg">
          <hr>
          <p class="card-text" translate> home.profile_description</p>
          <div class="row">
            <div class="col col-xxl-6 col-xl-6 col-lg-6 col-md-6 col-sm-8 col-8"><a class="categoriesLink" (click)="goToProducts({id: 117,name: 'Profile'})" style="color: #6dae49;text-decoration: none;" translate>home.see_more_button</a></div>
            <div class="col col-xxl-6 col-xl-6 col-lg-6 col-md-6 col-sm-4 col-4" style="padding: 0;vertical-align: center;"><img class="arrow" src="../../assets/Arrow%201.svg" width="18" height="18"></div>

          </div>
        </div>
      </div>
    </div> -->
  </div>
</div>

<div *ngIf="showLoggedInContent" style="margin-top: 72px">
  <div class="container" style="text-align: center; margin-bottom: 24px;">
    <div class="row">
      <h1 translate>home.offer</h1>
    </div>
    <div class="row" style="justify-content: center">
      <hr style="width: 20%; border: 1px solid #6dae49; opacity: 1" />
    </div>
  </div>
  <div>
    <div
      class="container"
      style="
        background-color: white;
        width: fit-content;
        height: fit-content;
        border-radius: 30px;
        box-shadow: 0px 0px 13px rgba(0, 0, 0, 0.2);
        padding: 80px;
      "
    >
      <div class="row">
        <div
          class="col-xxl-6 col-xl-6 col-lg-10 col-md-10 col-sm-10 col-10"
          style="display: flex; justify-content: center; align-items: center"
        >
          <div
            class="box"
            (click)="goToProductPage(offer1)"
            style="cursor: pointer"
            #offerImg
          >
            <div class="text">
              <i class="fas fa1">-{{ offer1.discount }}%</i>
              <img
                [src]="offer1.image"
                width="85%"
                height="100%"
                alt=""
                srcset=""
              />
              <div></div>
            </div>
          </div>
        </div>
        <div
          class="col-xxl-6 col-xl-6 col-lg-10 col-md-10 col-sm-10 col-10 description"
        >
          <div class="row">
            <h2 *ngIf="currentLang == 'el'">{{ offer1.product_name }}</h2>
            <h2 *ngIf="currentLang == 'en'">{{ offer1.product_name_eng }}</h2>
          </div>
          <div class="row">
            <p
              *ngIf="currentLang == 'el'"
              class="descText"
              [innerHTML]="
                (offer1.description | slice: 0:315) + '<span>...</span>'
              "
            ></p>
            <p
            *ngIf="currentLang == 'en'"
            class="descText"
            [innerHTML]="
              (offer1.description_eng | slice: 0:315) + '<span>...</span>'
            "
          ></p>
          </div>
          <div class="row offer-button">
            <button
              class="simple-btn"
              (mouseover)="handleOfferHover(offerImg)"
              (mouseleave)="handleOfferHoverLeave(offerImg)"
              (click)="goToProductPage(offer1)"
              style="height: fit-content; width: fit-content"
            >
              Μάθε Περισσότερα
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<app-footer></app-footer>
