<app-navbar></app-navbar>


<div class="content container">
    <div class="row">
        <h2 style="font-weight: 300;">Λίστα Καταλόγων</h2>
        <hr style="border: 1px solid #6DAE49;opacity: 1;">
    </div>
    <div class="row">
        <ul style="width: fit-content;margin-left: 16px;">
            <li *ngFor="let catalogue of catalogueNames" style="margin-bottom: 12px;">
                <a [href]="'https://perlarest.vinoitalia.gr/php-auth-api/catalogues/' + catalogue" target="_blank" rel="noopener noreferrer">
                    {{ catalogue }}
                </a>
            </li>
        </ul>
    </div>
</div>

<app-footer></app-footer>