<app-add-image-popup *ngIf="flag && window"></app-add-image-popup>
<div class="row">
  <app-searchbar></app-searchbar>
  <div class="col-md-8" >
    <div *ngFor="let product of products">
      <h3 >{{product.name}}</h3>
      <br>
      <div></div>
      <h4>Product Photo</h4>
      <img [src]="product.img" style="width: 30%; height: 30%!important;">
      <button class="btn btn-primary" (click)="openMain(product)">Change Photo</button>
      <hr>
      <h5>Other Photos  | <button class="btn btn-primary" (click)="open(product)">Add More Images</button></h5>
      <div class="row">
        <div class="col-12 col-sm-6 col-lg-3" *ngFor="let otherImages of product.otherImages" >

          <img [src]="otherImages.img" style="width: 50%; "> <br> <br> <button class="btn btn-danger" (click)="remove(product.mtrl,otherImages.img)">Remove</button>
        </div>
      <br>
      <hr>
    </div>


  </div>
</div>



