
<div *ngIf="showLoggedinNav" class="logged-in-nav">
 <nav class="navbar navbar1 navbar-light navbar-expand-md py-3 ">
    <div class="container">
      <a routerLink="/home" class="navbar-brand d-flex align-items-center" href="#">
        <img class="navLogo" src="../../assets/PerlaProfilLogo-dark 1.svg">
      </a>
      <button data-bs-toggle="collapse" class="navbar-toggler" data-bs-target="#navcol-2" style="padding: 0px;"><span class="visually-hidden">Toggle navigation</span><span class="navbar-toggler-icon burgerMenu"></span></button>
        <div class="collapse navbar-collapse" id="navcol-2">
            <ul class="navbar-nav ms-auto">

                <li class="nav-item my-nav-item2"><a (click)="handleFavorites()" class="btn ms-md-2 myBtn" role="button"><img  [ngClass]="productAddedToFav? 'heartAnim' : ''" [src]="source" width="18px"/></a></li>
                <li class="nav-item my-nav-item2"><a [ngClass]="productAdded? 'btn ms-md-2 myBtn enlarge' : 'btn ms-md-2 myBtn reduce'" role="button" routerLink="/cart" #cartBtn><img style="display: inline-block;" src="../../assets/shopping-cart.svg" width="18px"/><p *ngIf="productAdded2" style="display: inline-block;margin-bottom: 0px;">&emsp;Έχετε Προϊόντα στο Καλάθι σας x{{ productCount }}</p></a></li>

                <li class="nav-item my-nav-item2">
                  <div class="dropdown">
                      <a #optionsToggler (click)="userOptions()" class="btn ms-md-2 myBtn dropdown-toggle" role="button"><img src="../../assets/user.svg" width="16px">&emsp;{{ username }}&emsp;</a>
                      <ul #options [ngClass]="showUserOptions? (makeSmallerDropDown? 'dropdown-menu my-dropdown-sm show' : 'dropdown-menu my-dropdown show') : 'dropdown-menu'">
                        <li><a class="dropdown-item my-dropdown-item">Profile</a></li>
                        <li><a class="dropdown-item my-dropdown-item">My Orders</a></li>
                        <li (click)="handleDashboard()" ><a *ngIf="isAdmin" class="dropdown-item my-dropdown-item">Dashboard</a></li>
                        <li><a (click)="logout()" class="dropdown-item my-dropdown-item">Logout</a></li>
                      </ul>

                  </div>
                </li>
                <li class="nav-item my-nav-item2">
                  <div class="dropdown">
                    <a #langTogler (click)="langOptions()" class="btn ms-md-2 myBtn dropdown-toggle" role="button">&emsp;{{ lang }}&emsp;</a>
                    <ul #optionslang [ngClass]="showLang? (makeSmallerDropDown? 'dropdown-menu my-dropdown-sm show' : 'dropdown-menu my-dropdown show') : 'dropdown-menu'" *ngFor="let lang of languages">
                      <li><a class="dropdown-item my-dropdown-item" (click)="switchLang()"> {{lang.name}}</a></li>
                    </ul>
                  </div>
                </li>
            </ul>
            <hr style="border-color: #6DAE49;">
            <div *ngIf="!showSecondNav" class="wrapper">
              <div class="bottom_nav" style="border-bottom: 2px solid #6DAE49;;background-color: white !important;height: 100%;">
                <div class="container">
              <ul class="myMenu2">
                <li style="margin-bottom: 8px;"><a class="dropdown-item" routerLink="/home" style="padding-left: 0px !important;">Αρχική</a></li>
                <li style="margin-bottom: 8px;">
                  <div class="dropdown">
                    <a routerLink="/products" (click)="handleProducts()" (mouseleave)="handleMouseleave()" (mouseenter)="handleHover()" class="dropdown-toggle">
                        Προϊόντα
                    </a>
                    <ul (mouseenter)="handleHover()" (mouseleave)="handleMouseleave()" [ngClass]="hoverProducts? 'dropdown-menu myMenu2' : 'dropdown-menu myMenu'">
                        <li [routerLink]="'/products/'+mainCategory.id+'/'+mainCategory.name" (click)="handleCategoryClick()" style="margin-right: 0px;" *ngFor="let mainCategory of mainCategories"><a class="dropdown-item">{{ mainCategory.name }}</a></li>
                    </ul>
                  </div>
                </li>
                <li style="margin-bottom: 8px;"><a>Η Εταιρία</a></li>
                <li style="margin-bottom: 8px;"><a>Η Ομάδα της Perla</a></li>
                <li style="margin-bottom: 8px;"><a>Επικοινωνία</a></li>

              </ul>
          </div>
        </div>
        </div>
        </div>
    </div>
  </nav>
  <div *ngIf="showSecondNav" class="wrapper">
    <div class="bottom_nav">
      <div class="container">
        <ul>
          <li><a routerLink="/home" routerLinkActive="my-active">Αρχική</a></li>
          <li>
            <div class="dropdown">
              <a routerLink="/products" (click)="handleProducts()"routerLinkActive="my-active" (mouseleave)="handleMouseleave()" (mouseenter)="handleHover()" class="dropdown-toggle">
                  Προϊόντα
              </a>
              <ul (mouseenter)="handleHover()" (mouseleave)="handleMouseleave()" [ngClass]="hoverProducts? 'dropdown-menu myMenu2' : 'dropdown-menu myMenu'">
                  <li [routerLink]="'/products/'+mainCategory.id+'/'+mainCategory.name" (click)="handleCategoryClick()" style="margin-right: 0px;" *ngFor="let mainCategory of mainCategories"><a class="dropdown-item" style="color: black;">{{ mainCategory.name }}</a></li>
              </ul>
            </div>
          </li>
          <li><a routerLinkActive="my-active">Η Εταιρία</a></li>
          <li><a routerLinkActive="my-active">Η Ομάδα της Perla</a></li>
          <li><a routerLinkActive="my-active">Επικοινωνία</a></li>

        </ul>
    </div>
  </div>


  </div>
</div>






  <!--</nav>-->

<nav *ngIf="!showLoggedinNav" class="navbar navbar-light navbar-expand-md py-3 ">
  <div class="container">
    <a class="navbar-brand d-flex align-items-center" href="#">
      <img class="navLogo" src="../../assets/PerlaProfilLogo-dark 1.svg">
    </a>
    <button data-bs-toggle="collapse" class="navbar-toggler" data-bs-target="#navcol-2" style="padding: 0px;"><span class="visually-hidden">Toggle navigation</span><span class="navbar-toggler-icon burgerMenu"></span></button>
      <div class="collapse navbar-collapse" id="navcol-2">
          <ul class="navbar-nav ms-auto">

              <li class="nav-item"><a routerLink="/home" routerLinkActive="active" class="nav-link">Αρχική</a></li>
              <li class="nav-item"><a routerLink="/company" routerLinkActive="active" class="nav-link">Η Εταρία</a></li>
              <li class="nav-item"><a routerLink="/team" routerLinkActive="active" class="nav-link">Η Ομάδα της Perla</a></li>
              <li class="nav-item"><a routerLink="/contact" routerLinkActive="active" class="nav-link">Επικοινωνία</a></li>

              <li class="nav-item">
              <a class="btn ms-md-2 myBtn" role="button" (click)="login()">Συνδέσου</a></li>
          </ul>
      </div>
  </div>
</nav>

