<div style="margin-top: 44px;background-color: #002256;">
    <div class="container" style="padding-top: 32px;">
        <div class="row" style="margin-bottom: 68px;">
            <div class="col col-12" style="text-align: center;"><img src="../../assets/Image.svg"></div>
        </div>
        <div class="row details">
            <div class="col col-4">
                <div class="row">
                    <div class="col col-3"><img class="detailsImg" src="../../assets/phone.svg"></div>
                    <div class="col">
                        <div class="row">
                            <div class="col">
                                <p class="title" style="width: 100%;">Phone Number</p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                <p class="desc">+302382 027707<br></p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                <p class="desc">+302382 023703<br></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col col-4">
                <div class="row">
                    <div class="col col-3"><img class="detailsImg" src="../../assets/message.svg"></div>
                    <div class="col">
                        <div class="row">
                            <div class="col">
                                <p class="title">Email Address<br></p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                <p class="desc">sales@perlaprofil.gr<br></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col col-4">
                <div class="row">
                    <div class="col col-3"><img class="detailsImg" src="../../assets/map.svg"></div>
                    <div class="col">
                        <div class="row">
                            <div class="col">
                                <p class="title">Office Address<br></p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                <p class="desc">3ο Χλμ Γιαννιτσών - Θεσσαλονίκης, 58100, Γιαννιστσά<br></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col"><img class="footerHr" src="../../assets/footerHr.svg"></div>
        </div>
        <div class="row footerContent">
            <div class="col col-5">
                <div class="row">
                    <div class="col">
                        <p class="title" style="width: 100%;">Η Εταιρία</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col" style="height: 15px;"><img src="../../assets/Line 7.svg" style="margin-bottom: 24px;"></div>
                </div>
                <div class="row">
                    <div class="col">
                        <p class="desc">Η Perla Profil sa σχεδιάζει και παράγει προφίλ αλουμινίου σύμφωνα με τις ανάγκες και τα σχέδια των πελατών της ενώ παράγει μια πλήρη σειρά αυτοματισμών για εσωτερική και εξωτερική σκίαση παρέχοντας επίσης και τα εξαρτήματα τους. Διαθέτη κάθετη παραγωγή αντικουνουπικών συστημάτων και ρολών αλουμινίου όπως επίσης σχεδιάζει και παράγει ανοδιωμένα κάγκελα σε όλους τους τύπους για όλες τις αρχιτεκτονικές ανάγκες.<br></p>
                    </div>
                </div>
            </div>
            <div class="col col-3">
                <div class="row">
                    <div class="col">
                        <p class="title" style="width: 100%;">Επικοινωνία</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col" style="height: 15px;"><img src="../../assets/Line 7.svg" style="margin-bottom: 24px;"></div>
                </div>
                <div class="row contactInfo">
                    <div class="col col-1"><img src="../../assets/location-pin-alt.svg"></div>
                    <div class="col">
                        <p class="desc">3ο Χλμ Γιαννιτσών – Θεσσαλονίκης,<br>58100 Γιαννιτσά<br></p>
                    </div>
                </div>
                <div class="row contactInfo">
                    <div class="col col-1"><img src="../../assets/incoming-call.svg"></div>
                    <div class="col">
                        <p class="desc">2382 027707<br>2382 023 703<br></p>
                    </div>
                </div>
                <div class="row contactInfo">
                    <div class="col col-1"><img src="../../assets/print.svg"></div>
                    <div class="col">
                        <p class="desc">2382 025343<br></p>
                    </div>
                </div>
                <div class="row contactInfo">
                    <div class="col col-1"><img src="../../assets/mailSmall.svg"></div>
                    <div class="col">
                        <p class="desc">sales@perlaprofil.gr<br></p>
                    </div>
                </div>
            </div>
            <div class="col col-4">
                <div class="row" style="margin-bottom: 16px;">
                    <div class="col">
                        <div class="row">
                            <div class="col">
                                <p class="title" style="width: 100%;">Δείτε Ακόμη</p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col" style="height: 15px;"><img src="../../assets/Line 7.svg" style="margin-bottom: 24px;"></div>
                        </div>
                        <div class="row">
                            <div class="col col-3">
                                <p class="desc">Η Εταιρία</p>
                            </div>
                            <div class="col col-3" style="padding-left: 0px;"><img src="../../assets/chevron-right-white.svg"></div>
                        </div>
                        <div class="row">
                            <div class="col col-5">
                                <p class="desc">Η Ομάδα της Perla<br></p>
                            </div>
                            <div class="col col-3" style="padding-left: 0px;"><img src="../../assets/chevron-right-white.svg"></div>
                        </div>
                        <div class="row">
                            <div class="col col-2">
                                <p class="desc">Νέα<br></p>
                            </div>
                            <div class="col col-3" style="padding-left: 0px;"><img src="../../assets/chevron-right-white.svg"></div>
                        </div>
                        <div class="row">
                            <div class="col col-3">
                                <p class="desc">Επικοινωνία<br></p>
                            </div>
                            <div class="col col-3" style="padding-left: 0px;"><img src="../../assets/chevron-right-white.svg"></div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <div class="row">
                            <div class="col">
                                <p class="title" style="width: 100%;">Ακολουθήστε Μας</p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col" style="height: 15px;"><img src="../../assets/Line%207.svg" style="margin-bottom: 24px;"></div>
                        </div>
                        <div class="row">
                            <div class="col col-2" style="padding-left: 0;"><img src="../../assets/facebook-f.svg"></div>
                            <div class="col col-2" style="padding-left: 0px;"><img src="../../assets/instagram.svg"></div>
                            <div class="col col-2" style="padding-left: 0px;"><img src="../../assets/youtube.svg"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row accord">
            <div class="col">
                <section class="py-5 bg-light" style="background-color: transparent !important;">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-6 offset-md-3">
                                <div id="faqlist" class="accordion accordion-flush">
                                    <div class="accordion-item my-accordion-item" style="background-color: transparent !important;">
                                        <h2 class="accordion-header"><button class="btn accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#content-accordion-1" style="background-color: transparent !important;color: white;border: 2px solid;border-bottom: none;border-radius: 9px;border-bottom-left-radius: 0px;border-bottom-right-radius: 0px;">Η Εταιρία</button></h2>
                                        <div id="content-accordion-1" class="accordion-collapse collapse" data-bs-parent="#faqlist" style="background-color: transparent !important;color: white;border: 2px solid;border-top: none;">
                                            <p class="accordion-body"><br>Η Perla Profil sa σχεδιάζει και παράγει προφίλ αλουμινίου σύμφωνα με τις ανάγκες και τα σχέδια των πελατών της ενώ παράγει μια πλήρη σειρά αυτοματισμών για εσωτερική και εξωτερική σκίαση παρέχοντας επίσης και τα εξαρτήματα τους. Διαθέτη κάθετη παραγωγή αντικουνουπικών συστημάτων και ρολών αλουμινίου όπως επίσης σχεδιάζει και παράγει ανοδιωμένα κάγκελα σε όλους τους τύπους για όλες τις αρχιτεκτονικές ανάγκες.<br><br></p>
                                        </div>
                                    </div>
                                    <div class="accordion-item my-accordion-item" style="background-color: transparent !important;">
                                        <h2 class="accordion-header"><button class="btn accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#content-accordion-2" style="background-color: transparent !important;color: white;border: 2px solid;border-bottom: none;border-radius: 9px;border-bottom-left-radius: 0px;border-bottom-right-radius: 0px;">Επικοινωνία</button></h2>
                                        <div id="content-accordion-2" class="accordion-collapse collapse" data-bs-parent="#faqlist" style="background-color: transparent !important;color: white;border: 2px solid;border-top: none;">
                                            <div class="row">
                                                <div class="col col-12" style="margin-left: 3%;">
                                                    <div class="row contactInfo">
                                                        <div class="col col-1"><img src="../../assets/location-pin-alt.svg"></div>
                                                        <div class="col">
                                                            <p class="desc">3ο Χλμ Γιαννιτσών – Θεσσαλονίκης,<br>58100 Γιαννιτσά<br></p>
                                                        </div>
                                                    </div>
                                                    <div class="row contactInfo">
                                                        <div class="col col-1"><img src="../../assets/incoming-call.svg"></div>
                                                        <div class="col">
                                                            <p class="desc">2382 027707<br>2382 023 703<br></p>
                                                        </div>
                                                    </div>
                                                    <div class="row contactInfo">
                                                        <div class="col col-1"><img src="../../assets/print.svg"></div>
                                                        <div class="col">
                                                            <p class="desc">2382 025343<br></p>
                                                        </div>
                                                    </div>
                                                    <div class="row contactInfo">
                                                        <div class="col col-1"><img src="../../assets/mailSmall.svg"></div>
                                                        <div class="col">
                                                            <p class="desc">sales@perlaprofil.gr<br></p>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="accordion-item my-accordion-item" style="background-color: transparent !important;">
                                        <h2 class="accordion-header"><button class="btn accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#content-accordion-3" style="background-color: transparent !important;color: white;border: 2px solid;border-bottom: none;border-radius: 9px;border-bottom-left-radius: 0px;border-bottom-right-radius: 0px;">Δείτε Ακόμη</button></h2>
                                        <div id="content-accordion-3" class="accordion-collapse collapse" data-bs-parent="#faqlist" style="background-color: transparent !important;color: white;border: 2px solid;border-top: none;">
                                            <div class="row">
                                                <div class="col" style="margin-left: 4%;">
                                                    <div class="row">
                                                        <div class="col col-3">
                                                            <p class="desc">Η Εταιρία</p>
                                                        </div>
                                                        <div class="col col-3" style="padding-left: 0px;"><img src="../../assets/chevron-right-white.svg"></div>
                                                    </div>
                                                    <div class="row">
                                                        <div class="col col-5">
                                                            <p class="desc">Η Ομάδα της Perla<br></p>
                                                        </div>
                                                        <div class="col col-3" style="padding-left: 0px;"><img src="../../assets/chevron-right-white.svg"></div>
                                                    </div>
                                                    <div class="row">
                                                        <div class="col col-2">
                                                            <p class="desc">Νέα<br></p>
                                                        </div>
                                                        <div class="col col-3" style="padding-left: 0px;"><img src="../../assets/chevron-right-white.svg"></div>
                                                    </div>
                                                    <div class="row">
                                                        <div class="col col-3">
                                                            <p class="desc">Επικοινωνία<br></p>
                                                        </div>
                                                        <div class="col col-3" style="padding-left: 0px;"><img src="../../assets/chevron-right-white.svg"></div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="accordion-item my-accordion-item" style="display: none;">
                                        <h2 class="accordion-header"><button class="btn accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#content-accordion-5">What is Lorem Ipsum?</button></h2>
                                        <div id="content-accordion-5" class="accordion-collapse collapse" data-bs-parent="#faqlist">
                                            <p class="accordion-body"> Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="row" style="margin-top: 26px;">
                                    <div class="col col-4" style="padding-left: 0;text-align: center;"><img src="../../assets/facebook-f.svg"></div>
                                    <div class="col col-4" style="padding-left: 0px;text-align: center;"><img src="../../assets/instagram.svg"></div>
                                    <div class="col col-4" style="padding-left: 0px;text-align: center;"><img src="../../assets/youtube.svg"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
            </div>
        </div>
        <div class="row" style="text-align: center;">
            <div class="col">
                <p style="color: white;"><br><br>Web site created by ISG Informatics ⓒ All rights reserved<br></p>
            </div>
        </div>
    </div>
</div>