<div style="margin-top: 44px; background-color: #002256">
  <div class="container" style="padding-top: 32px">
    <div class="row" style="margin-bottom: 68px">
      <div class="col col-12" style="text-align: center">
        <img
          translate-alt
          alt="Φωτογραφια Εταιριας"
          src="https://perlarest.vinoitalia.gr/php-auth-api/upload/assets/Image.svg"
        />
      </div>
    </div>
    <div class="row details">
      <div class="col col-4">
        <div class="row">
          <div class="col col-3">
            <img
              translate-alt
              alt="Tηλέφωνο"
              class="detailsImg"
              src="https://perlarest.vinoitalia.gr/php-auth-api/upload/assets/phone.svg"
            />
          </div>
          <div class="col">
            <div class="row">
              <div class="col">
                <p class="title" style="width: 100%" translate>footer.phone_numbers</p>
              </div>
            </div>
            <div class="row">
              <div class="col">
                <p class="desc">+302382 027707<br /></p>
              </div>
            </div>
            <div class="row">
              <div class="col">
                <p class="desc">+302382 023703<br /></p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col col-4">
        <div class="row">
          <div class="col col-3">
            <img
              class="detailsImg"
              translate-alt
              alt="Διευθυνση Ηλεκτρονικου Ταχυδρομειου"
              src="https://perlarest.vinoitalia.gr/php-auth-api/upload/assets/message.svg"
            />
          </div>
          <div class="col">
            <div class="row">
              <div class="col">
                <p class="title" translate>
                  footer.email<br />
                </p>
              </div>
            </div>
            <div class="row">
              <div class="col">
                <p class="desc">sales@perlaprofil.gr<br /></p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col col-4">
        <div class="row">
          <div class="col col-3">
            <img
              translate-alt
              alt="Διευθυνση Γραφειου"
              class="detailsImg"
              src="https://perlarest.vinoitalia.gr/php-auth-api/upload/assets/map.svg"
            />
          </div>
          <div class="col">
            <div class="row">
              <div class="col">
                <p class="title" translate>footer.address<br /></p>
              </div>
            </div>
            <div class="row">
              <div class="col">
                <p class="desc" translate>
                  footer.office<br />
                footer.office_br</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <img
          translate-alt
          alt="Οριζοντια Γραμμη"
          class="footerHr"
          src="https://perlarest.vinoitalia.gr/php-auth-api/upload/assets/footerHr.svg"
        />
      </div>
    </div>
    <div class="row footerContent">
      <div class="col col-5">
        <div class="row">
          <div class="col">
            <p class="title" style="width: 100%" translate>footer.company</p>
          </div>
        </div>
        <div class="row">
          <div class="col" style="height: 15px">
            <img
              translate-alt
              alt="Οριζοντια Γραμμη"
              src="https://perlarest.vinoitalia.gr/php-auth-api/upload/assets/Line 7.svg"
              style="margin-bottom: 24px"
            />
          </div>
        </div>
        <div class="row">
          <div class="col">
            <p class="desc" translate>
             footer.company_text<br />
            </p>
          </div>
        </div>
      </div>
      <div class="col col-3">
        <div class="row">
          <div class="col">
            <p class="title" style="width: 100%" translate>footer.contact</p>
          </div>
        </div>
        <div class="row">
          <div class="col" style="height: 15px">
            <img
              translate-alt
              alt="Οριζοντια Γραμμη"
              src="https://perlarest.vinoitalia.gr/php-auth-api/upload/assets/Line 7.svg"
              style="margin-bottom: 24px"
            />
          </div>
        </div>
        <div class="row contactInfo">
          <div class="col col-1">
            <img
              translate-alt
              alt="Διευθυνση Γραφειου"
              src="https://perlarest.vinoitalia.gr/php-auth-api/upload/assets/location-pin-alt.svg"
            />
          </div>
          <div class="col">
            <p class="desc" translate>
              footer.office<br />footer.office_br<br />
            </p>
          </div>
        </div>
        <div class="row contactInfo">
          <div class="col col-1">
            <img
              translate-alt
              alt="Νουμερα Τηλεφωνων"
              src="https://perlarest.vinoitalia.gr/php-auth-api/upload/assets/incoming-call.svg"
            />
          </div>
          <div class="col">
            <p class="desc">2382 027707<br />2382 023 703<br /></p>
          </div>
        </div>
        <div class="row contactInfo">
          <div class="col col-1">
            <img
              translate-alt
              alt="Φαξ"
              src="https://perlarest.vinoitalia.gr/php-auth-api/upload/assets/print.svg"
            />
          </div>
          <div class="col">
            <p class="desc">2382 025343<br /></p>
          </div>
        </div>
        <div class="row contactInfo">
          <div class="col col-1">
            <img
              translate-alt
              alt="Διευθυνση Ηλεκτρονικου Ταχυδρομειου"
              src="https://perlarest.vinoitalia.gr/php-auth-api/upload/assets/mailSmall.svg"
            />
          </div>
          <div class="col">
            <p class="desc">sales@perlaprofil.gr<br /></p>
          </div>
        </div>
      </div>
      <div class="col col-4">
        <div class="row" style="margin-bottom: 16px">
          <div class="col">
            <div class="row">
              <div class="col">
                <p class="title" style="width: 100%" translate>footer.see_also</p>
              </div>
            </div>
            <div class="row">
              <div class="col" style="height: 15px">
                <img
                  translate-alt
                  alt="Οριζοντια Γραμμη"
                  src="https://perlarest.vinoitalia.gr/php-auth-api/upload/assets/Line 7.svg"
                  style="margin-bottom: 24px"
                />
              </div>
            </div>
            <div class="row">
              <div class="col col-3">
                <p class="desc" translate>footer.company</p>
              </div>
              <div class="col col-3" style="padding-left: 0px">
                <img
                  translate-alt
                  alt="Οριζοντια Γραμμη"
                  src="https://perlarest.vinoitalia.gr/php-auth-api/upload/assets/chevron-right-white.svg"
                />
              </div>
            </div>
            <div class="row">
              <div class="col col-5">
                <p class="desc" translate>navbar.team<br /></p>
              </div>
              <div class="col col-3" style="padding-left: 0px">
                <img
                  translate-alt
                  alt="Οριζοντια Γραμμη"
                  src="https://perlarest.vinoitalia.gr/php-auth-api/upload/assets/chevron-right-white.svg"
                />
              </div>
            </div>
            <div class="row">
              <div class="col col-2">
                <p class="desc" translate>footer.news<br /></p>
              </div>
              <div class="col col-3" style="padding-left: 0px">
                <img
                  translate-alt
                  alt="Οριζοντια Γραμμη"
                  src="https://perlarest.vinoitalia.gr/php-auth-api/upload/assets/chevron-right-white.svg"
                />
              </div>
            </div>
            <div class="row">
              <div class="col col-3">
                <p class="desc" translate>footer.contact<br /></p>
              </div>
              <div class="col col-3" style="padding-left: 0px">
                <img
                  translate-alt
                  alt="Οριζοντια Γραμμη"
                  src="https://perlarest.vinoitalia.gr/php-auth-api/upload/assets/chevron-right-white.svg"
                />
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col">
            <div class="row">
              <div class="col">
                <p class="title" style="width: 100%" translate>footer.follow_us</p>
              </div>
            </div>
            <div class="row">
              <div class="col" style="height: 15px">
                <img
                  translate-alt
                  alt="Οριζοντια Γραμμη"
                  src="https://perlarest.vinoitalia.gr/php-auth-api/upload/assets/Line%207.svg"
                  style="margin-bottom: 24px"
                />
              </div>
            </div>
            <div class="row">
              <div class="col col-2" style="padding-left: 0">
                <img
                  translate-alt
                  alt="facebook"
                  src="https://perlarest.vinoitalia.gr/php-auth-api/upload/assets/facebook-f.svg"
                />
              </div>
              <div class="col col-2" style="padding-left: 0px">
                <img
                translate-alt
                alt="instagram"
                  src="https://perlarest.vinoitalia.gr/php-auth-api/upload/assets/instagram.svg"
                />
              </div>
              <div class="col col-2" style="padding-left: 0px">
                <img
                translate-alt
                alt="youtube"
                  src="https://perlarest.vinoitalia.gr/php-auth-api/upload/assets/youtube.svg"
                />
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row accord">
      <div class="col">
        <section
          class="py-5 bg-light"
          style="background-color: transparent !important"
        >
          <div class="container">
            <div class="row">
              <div class="col-md-6 offset-md-3">
                <div id="faqlist" class="accordion accordion-flush">
                  <div
                    class="accordion-item my-accordion-item"
                    style="background-color: transparent !important"
                  >
                    <h2 class="accordion-header">
                      <button
                        class="btn accordion-button collapsed"
                        type="button"
                        data-bs-toggle="collapse"
                        data-bs-target="#content-accordion-1"
                        style="
                          background-color: transparent !important;
                          color: white;
                          border: 2px solid;
                          border-bottom: none;
                          border-radius: 9px;
                          border-bottom-left-radius: 0px;
                          border-bottom-right-radius: 0px;
                        "
                      translate>
                        footer.company
                      </button>
                    </h2>
                    <div
                      id="content-accordion-1"
                      class="accordion-collapse collapse"
                      data-bs-parent="#faqlist"
                      style="
                        background-color: transparent !important;
                        color: white;
                        border: 2px solid;
                        border-top: none;
                      "
                    >
                      <p class="accordion-body" translate>
                        <br />footer.company_text<br /><br />
                      </p>
                    </div>
                  </div>
                  <div
                    class="accordion-item my-accordion-item"
                    style="background-color: transparent !important"
                  >
                    <h2 class="accordion-header">
                      <button
                        class="btn accordion-button collapsed"
                        type="button"
                        data-bs-toggle="collapse"
                        data-bs-target="#content-accordion-2"
                        style="
                          background-color: transparent !important;
                          color: white;
                          border: 2px solid;
                          border-bottom: none;
                          border-radius: 9px;
                          border-bottom-left-radius: 0px;
                          border-bottom-right-radius: 0px;
                        "translate
                      >
                        footer.contact
                      </button>
                    </h2>
                    <div
                      id="content-accordion-2"
                      class="accordion-collapse collapse"
                      data-bs-parent="#faqlist"
                      style="
                        background-color: transparent !important;
                        color: white;
                        border: 2px solid;
                        border-top: none;
                      "
                    >
                      <div class="row">
                        <div class="col col-12" style="margin-left: 3%">
                          <div class="row contactInfo">
                            <div class="col col-1">
                              <img
                              translate-alt
                              alt="Διευθυνση Γραφειου"
                                src="https://perlarest.vinoitalia.gr/php-auth-api/upload/assets/location-pin-alt.svg"
                              />
                            </div>
                            <div class="col">
                              <p class="desc" translate>
                                footer.office<br />footer.office_br<br />
                              </p>
                            </div>
                          </div>
                          <div class="row contactInfo">
                            <div class="col col-1">
                              <img
                              translate-alt
                              alt="Νουμερα Τηλεφωνων"
                                src="https://perlarest.vinoitalia.gr/php-auth-api/upload/assets/incoming-call.svg"
                              />
                            </div>
                            <div class="col">
                              <p class="desc">
                                2382 027707<br />2382 023 703<br />
                              </p>
                            </div>
                          </div>
                          <div class="row contactInfo">
                            <div class="col col-1">
                              <img
                              translate-alt
                              alt="Φαξ"
                                src="https://perlarest.vinoitalia.gr/php-auth-api/upload/assets/print.svg"
                              />
                            </div>
                            <div class="col">
                              <p class="desc">2382 025343<br /></p>
                            </div>
                          </div>
                          <div class="row contactInfo">
                            <div class="col col-1">
                              <img
                              translate-alt
                              alt="Διευθυνση Ηλεκτρονικου Ταχυδρομειου"
                                src="https://perlarest.vinoitalia.gr/php-auth-api/upload/assets/mailSmall.svg"
                              />
                            </div>
                            <div class="col">
                              <p class="desc">sales@perlaprofil.gr<br /></p>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div
                    class="accordion-item my-accordion-item"
                    style="background-color: transparent !important"
                  >
                    <h2 class="accordion-header">
                      <button
                        class="btn accordion-button collapsed"
                        type="button"
                        data-bs-toggle="collapse"
                        data-bs-target="#content-accordion-3"
                        style="
                          background-color: transparent !important;
                          color: white;
                          border: 2px solid;
                          border-bottom: none;
                          border-radius: 9px;
                          border-bottom-left-radius: 0px;
                          border-bottom-right-radius: 0px;
                        "
                        translate
                      >
                        footer.see_also
                      </button>
                    </h2>
                    <div
                      id="content-accordion-3"
                      class="accordion-collapse collapse"
                      data-bs-parent="#faqlist"
                      style="
                        background-color: transparent !important;
                        color: white;
                        border: 2px solid;
                        border-top: none;
                      "
                    >
                      <div class="row">
                        <div class="col" style="margin-left: 4%">
                          <div class="row">
                            <div class="col col-3">
                              <p class="desc" translate>footer.company</p>
                            </div>
                            <div class="col col-3" style="padding-left: 0px">
                              <img
                              translate-alt
                              alt="Οριζοντια Γραμμη"
                                src="https://perlarest.vinoitalia.gr/php-auth-api/upload/assets/chevron-right-white.svg"
                              />
                            </div>
                          </div>
                          <div class="row">
                            <div class="col col-5">
                              <p class="desc" translate>navbar.team<br /></p>
                            </div>
                            <div class="col col-3" style="padding-left: 0px">
                              <img
                              translate-alt
                              alt="Οριζοντια Γραμμη"
                                src="https://perlarest.vinoitalia.gr/php-auth-api/upload/assets/chevron-right-white.svg"
                              />
                            </div>
                          </div>
                          <div class="row">
                            <div class="col col-2">
                              <p class="desc" translate>footer.news<br /></p>
                            </div>
                            <div class="col col-3" style="padding-left: 0px">
                              <img
                              translate-alt
                              alt="Οριζοντια Γραμμη"
                                src="https://perlarest.vinoitalia.gr/php-auth-api/upload/assets/chevron-right-white.svg"
                              />
                            </div>
                          </div>
                          <div class="row">
                            <div class="col col-3">
                              <p class="desc" translate>footer.contatc<br /></p>
                            </div>
                            <div class="col col-3" style="padding-left: 0px">
                              <img
                              translate-alt
                              alt="Οριζοντια Γραμμη"
                                src="https://perlarest.vinoitalia.gr/php-auth-api/upload/assets/chevron-right-white.svg"
                              />
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div
                    class="accordion-item my-accordion-item"
                    style="display: none"
                  >
                    <h2 class="accordion-header">
                      <button
                        class="btn accordion-button collapsed"
                        type="button"
                        data-bs-toggle="collapse"
                        data-bs-target="#content-accordion-5"
                      translate
                        >
                        footer.lorem
                      </button>
                    </h2>
                    <div
                      id="content-accordion-5"
                      class="accordion-collapse collapse"
                      data-bs-parent="#faqlist"
                    >
                      <p class="accordion-body" translate>
                       footer.lorem_text
                      </p>
                    </div>
                  </div>
                </div>
                <div class="row" style="margin-top: 26px">
                  <div
                    class="col col-4"
                    style="padding-left: 0; text-align: center"
                  >
                    <img
                    translate-alt
                    alt="facebook"
                      src="https://perlarest.vinoitalia.gr/php-auth-api/upload/assets/facebook-f.svg"
                    />
                  </div>
                  <div
                    class="col col-4"
                    style="padding-left: 0px; text-align: center"
                  >
                    <img
                    translate-alt
                    alt="instagram"
                      src="https://perlarest.vinoitalia.gr/php-auth-api/upload/assets/instagram.svg"
                    />
                  </div>
                  <div
                    class="col col-4"
                    style="padding-left: 0px; text-align: center"
                  >
                    <img
                    translate-alt
                    alt="youtube"
                      src="https://perlarest.vinoitalia.gr/php-auth-api/upload/assets/youtube.svg"
                    />
                  </div>
                </div>
              </div>
            </div>
          </div>
        </section>
      </div>
    </div>
    <div class="row" style="text-align: center">
      <div class="col">
        <p style="color: white">
          <br /><br />Web site created by
          <span style="color: #6dae49; font-weight: bold">ISG Informatics</span>
          ⓒ All rights reserved<br />
        </p>
      </div>
    </div>
  </div>
</div>
