.footer{
    overflow: hidden;
    padding-left: 160px;
    padding-right: 160px;
    padding-top: 40px;
    z-index: 1;
    width: 100%;
    height: 60%;
    background:white;
    position: absolute;
    top: 3550px;
    color: black;
}

.footerLines{
    position: absolute;
    top: 60%;
    left: 0%;
}

.company{
    width: 30%;
    height: 100%;
    position: absolute;
    text-align: center;
}

.company p{
    font-family: 'Vollkorn';
    margin-top: 32px;
}

.contact{
    left: 35.5%;
    width: 30%;
    height: 100%;
    position: absolute;
    text-align: center;
}

.seeAlso{
    left: 65.5%;
    width: 30%;
    height: 100%;
    position: absolute;
    text-align: center;
}

.socialMedia{
    text-align: center;
    width: 100%;
    position: absolute;
    top: 48%;
    left: 0%;
}

.socialMedia div img{
    margin-right: 32px;
}

.footer .copyright{
    position: absolute;
    left: 40%;
    top: 90%;
}