<div class="footer">
    <img src="../../assets/footerLines.svg" class="footerLines" alt="" srcset="">
    <div class="company">
        <h3>Η Εταιρία</h3>
        <img src="../../assets/Line 1.svg" alt="" srcset="">
        <p>Η Perla Profil sa σχεδιάζει και παράγει προφίλ αλουμινίου σύμφωνα με τις ανάγκες και τα σχέδια των πελατών της ενώ παράγει μια πλήρη σειρά αυτοματισμών για εσωτερική και εξωτερική σκίαση παρέχοντας επίσης και τα εξαρτήματα τους. Διαθέτη κάθετη παραγωγή αντικουνουπικών συστημάτων και ρολών αλουμινίου όπως επίσης σχεδιάζει και παράγει ανοδιωμένα κάγκελα σε όλους τους τύπους για όλες τις αρχιτεκτονικές ανάγκες.</p>
    </div>
    <div class="contact">
        <h3>Επικοινωνία</h3>
        <img src="../../assets/Line 1.svg" alt="" srcset="">
        <div style="margin-top: 32px;">
            <p><img src="../../assets/location-pin-alt.svg" alt="">&emsp;3ο Χλμ Γιαννιτσών – Θεσσαλονίκης <br> 58100 Γιαννιτσά</p>
        </div>
        <div style="margin-top: 32px;">
            <p><img src="../../assets/incoming-call.svg" alt="">&emsp;2382 027707 - 2382 023 703 </p>
        </div>
        <div style="margin-top: 32px;">
            <p><img src="../../assets/print.svg" alt="">&emsp;2382 025343</p>
        </div>
        <div style="margin-top: 32px;">
            <p><img src="../../assets/mail.svg" alt="">&emsp;sales@perlaprofil.gr </p>
        </div>
    </div>
    <div class="seeAlso">
        <h3>Δείτε Ακόμη</h3>
        <img src="../../assets/Line 1.svg" alt="" srcset="">
        
        <div style="margin-top: 32px;">
            <p>Η Εταιρία <img src="../../assets/chevron-right-white.svg" alt="" srcset=""></p>
            <p>Η Ομάδα της Perla <img src="../../assets/chevron-right-white.svg" alt="" srcset=""></p>
            <p>Νέα <img src="../../assets/chevron-right-white.svg" alt="" srcset=""></p>
            <p>Επικοινωνία <img src="../../assets/chevron-right-white.svg" alt="" srcset=""></p>
        </div>
        <div class="socialMedia">
            <h3>Ακολουθήστε μας</h3>
            <img src="../../assets/Line 1.svg" alt="" srcset="">
            <div style="margin-top: 24px;margin-left: 15px;">
                <img src="../../assets/facebook-f.svg" alt="">
                <img src="../../assets/instagram.svg" alt="">
                <img src="../../assets/youtube.svg" alt="">
            </div>
        </div>
    </div>

    <p class="copyright">Web site created by <span style="color: #6DAE49">ISG Informatics</span> ⓒ All rights reserved </p>
</div>