<div class="container content">
  <div class="row" style="justify-content: center;align-items: center;">
    <h1 style="width: fit-content;">Ανανέωση Κατηγοριών</h1>
  </div>
  <div class="row" style="justify-content: center;align-items: center;">
    <hr style="opacity: 1;border: 2px solid #6dae49;width: 50%;">
  </div>
  <div class="row" style="justify-content: center;align-items: center;">
    <p> Σε αυτή την σελιδά διεξάγονται όλες οι αλλαγές που εχουν γίνει στις κατηγορίες μέσω του Soft1. Πατόντας το κουμπί της σελίδας και συμπληρώνοντας τα απαραίτητα στοιχεία γινεται η ανανέωση.</p>
  </div>
  <div class="row">
    <app-pop-up-login [button]="'Ανανέωση Κατηγοριών'" [id]="'5'"></app-pop-up-login>
  </div>
</div>
