<div style="background-color: white;">
    <div class="container">
        <div class="row">
            <div class="col-xxl-6 col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12 right-side">
                <a
                routerLink="/home"
                href="#"
            >
                <img
                i18n-alt
                alt="Φωτογραφια Εταιριας"
                class="navLogo"
                src="https://perlarest.vinoitalia.gr/php-auth-api/upload/assets/PerlaProfilLogo-dark 1.svg"
                />
            </a>
            </div>
            <div class="col-6 left-side">
                <div class="container" style="height: 100%;">
                    <div class="row" style="height: 100%;justify-content: right; align-items: end;">
                        <div class="container">
                            <div class="row" style="height:100%;justify-content: right;align-self: end;padding: 8px;">
                                <div class="col" style="text-align: right;">
                                    <a>
                                        <img src="../../assets/user-green.svg" style="width: 24px;height: 24px" alt="">
                                    </a>
                                </div>
                                
                                <p class="text">Στοιχεία Επιχείρησης</p>
                                
                            </div>
                        </div>
                        <hr class="line">
                    </div>
                    
                </div>
            </div>
        </div>
    </div>
</div>
