
<button class="btn btn-primary me-auto" (click)="updateDatabase()">Update Products</button>
<table >
  <tr>
<!--    <th>Name</th>-->
<!--    <th>Name</th>-->
<!--    <th>Code</th>-->
<!--    <th>Mtrl</th>-->
<!--    <th>Price Retail</th>-->
<!--    <th>Price whole sale</th>-->
<!--  </tr>-->
<!--    <tr *ngFor = "let productS of product" >-->
<!--      <td>{{ productS.name }}</td>-->
<!--      <td>{{ productS.name1 }}</td>-->
<!--      <td>{{ productS.code }}</td>-->
<!--      <td>{{ productS.mtrl }}</td>-->
<!--      <td>{{ productS.retail }}</td>-->
<!--      <td>{{ productS.wholesale }}</td>-->


<!--    </tr>-->


  </table>
