<app-navbar></app-navbar>
<button class="btn btn-primary me-auto" (click)="updateDatabase()">Update Products</button>
<table *ngIf="totalProducts">
  <tr>
    <th>Name</th>
    <th>Code</th>
    <th>Mtrl</th>
    <th>Price Retail</th>
    <th>Price whole sale</th>
  </tr>
    <tr>
      <td >{{totalProducts.NAME}}</td>
      <td >{{totalProducts.CODE}}</td>
      <td >{{totalProducts.MTRL}}</td>
      <td >{{totalProducts.PRICER}}</td>
      <td >{{totalProducts.PRICEW}}</td>

    </tr>


  </table>
