<!-- <app-log-in (logOutEvent)="logoutHandle()" *ngIf="!loggedIn"></app-log-in>
<app-homepage *ngIf="loggedIn"></app-homepage> -->
<!-- <app-product-added-to-cart *ngIf="productAdded"></app-product-added-to-cart> -->
<div *ngIf="waiting" style="position: fixed; z-index: 100; background: rgba(0, 0, 0, 0.5);width: 100%;height: 200%; text-align: center;padding-top: 20%;">
    <app-spinner></app-spinner>
</div>
<div *ngIf="productAdded" style="position: fixed; z-index: 100; background: rgba(0, 0, 0, 0.5);width: 100%;height: 200%; text-align: center;padding-top: 15%; padding-left: 30%;">
    <div style="background-color: white; width: 50%;height: 23%; border-radius: 16px;padding-top: 2%;">
        <h2>You added a new product to your cart!</h2>
        <hr style="width: 50%; margin-left: 25%;margin-top: 5%;">
        <div style="margin-top: 5%">
            <img [src]="'https://perlarest.vinoitalia.gr/php-auth-api/upload/'+singleProduct.img" height="100px" width="100px" alt="" style="display: inline-block;margin-bottom: 10%;">
            <div style="display: inline-block; text-align: start; margin-left: 3%;">
                <h5>{{ singleProduct.name }}</h5>
                <p>Quantity: {{ singleProduct.qty }}</p>
                <p >Price: {{ singleProduct.wholesale * singleProduct.qty}}&#x20AC;</p>
            </div>

        </div>
        <div style="margin-top: 5%;">
            <button class="btn btn-danger" (click)="handleClose()" style="margin-right: 2%;">Continue Shopping</button>
            <button class="btn btn-primary" (click)="handleGoToCart()">Go To Cart</button>
        </div>

    </div>
</div>

<app-navbar *ngIf="loggedIn"></app-navbar>
<router-outlet ></router-outlet>
