.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 15px;
    display: flex;
    margin-bottom: 100px;
  }


  app-product-added-to-cart{
    position: absolute; 
    z-index: 99;
    margin-left: 45vw; 
    margin-top: 3%;
  }