<div class="input-group">
  <form (ngSubmit)="findAndDisplay($event)" #form>
    <input type="search" class="form-control rounded" placeholder="Search Code" aria-label="Search" aria-describedby="search-addon"name= "search" [(ngModel)]= "code" />
    <input type="search" class="form-control rounded search2" placeholder="Search Name" aria-label="Search" aria-describedby="search-addon"name= "search" [(ngModel)]= "name" />
    <button type="submit" class="btn btn-outline-primary">search</button>
  </form>

</div>
