<div class="card">
    <h3>User Details</h3>
    <div class="left-side">
        <div class="fields">
            <label for="email">Email</label>
            <input type="email" id="email" class="form form-control">
        </div>
        <div class="fields">
            <label for="first">First Name</label>
            <input type="text" id="firstName" class="form form-control">
        </div>
        <div class="fields">
            <label for="lastName">Last Name</label>
            <input type="text" id="lastName" class="form form-control">
        </div>
    </div>

    <div class="right-side">
        <div class="fields">
            <label for="email">Email</label>
            <input type="email" id="email" class="form form-control">
        </div>
        <div class="fields">
            <label for="first">First Name</label>
            <input type="text" id="firstName" class="form form-control">
        </div>
        <div class="fields">
            <label for="lastName">Last Name</label>
            <input type="text" id="lastName" class="form form-control">
        </div>
    </div>
</div>

<div class="products">
    <div class="myCart">
        <h2>My Cart</h2>
    </div>
    <div>
        <img src="../../assets/35S-35SD.jpg" alt="" style="width: 141px; height: 141px;">
        <div class="description">
            <div class="descLeft">
                <h4>Lorem</h4>
                <p>$299</p>
                <p>Quantity: 1</p>
            </div>
        </div>
    </div>
</div>