<app-navbar></app-navbar>


<div class="container content">
    <div class="row">
      <div class="col-xxl-8 col-xl-8 col-lg-8 col-md-8 col-sm-12 col-12" style="padding-right: 24px;">
        <div class="row" style="align-items: end;height: 50px">
          <h2>Στοιχεία της επιχείρησής σας</h2>
        </div>
        <div class="row" style="background-color: white;border-radius: 16px;padding: 24px;box-shadow: 0 20px 30px rgba(0,0,0,0.08);margin-bottom: 12px;">
            <form class="row" [formGroup]="FormData" >    
                <div class="row">
                    <div class="col-6" style="padding: 12px;">
                        <label for="address">Διεύθυνση</label>
                        <input type="text" name="address" formControlName="address" class="form-control" id="address" style="width: 100%;" required>
                    </div>
                    <div class="col-6" style="padding: 12px;">
                        <label for="zipCode">Τ.Κ.</label>
                        <input type="text" name="zipCode" formControlName="zipCode" class="form-control" id="zipCode" style="width: 100%;" required>
                    </div>
                </div>
                <div class="row">
                    <div class="col-6" style="padding: 12px;">
                        <label for="area">Περιοχή</label>
                        <input type="text" name="area" formControlName="area" class="form-control" id="area" style="width: 100%;" required>
                    </div>
                    <div class="col-6" style="padding: 12px;">
                        <label for="city">Πόλη</label>
                        <input type="text" name="city" formControlName="city" class="form-control" id="city" style="width: 100%;" required>
                    </div>
                </div>

            </form>
            <div class="row" style="padding-left: 24px;">
                <div class="form-check">
                    <input type="checkbox" id="check" (click)="handleTrigwnikh($event)" class="form-check-input" #check>
                    <label for="check" class="form-check-label">Τριγωνική</label>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-12" style="margin-top: 12px;padding: 0;">
              <a class="goBackBtn" (click)="handleGoBackToCart()">
                <img style="transform: rotate(180deg);" src="../../assets/chevron-right-white.svg" width="18px" alt="">
                Πίσω στο καλάθι
              </a>
            </div>
          </div>
      </div>

      <div class="col-xxl-4 col-xl-4 col-lg-4 col-md-4 col-sm-12 col-12 orderReview">
        <div class="row" style="align-items: end;height: 50px">
          <h5>Σύνοψη Παραγγελίας</h5>
        </div>
        <div class="row" style="background-color: white;border-radius: 16px;padding: 50px 12px;box-shadow: 0 20px 30px rgba(0,0,0,0.08);">
            <div class="row productValue" *ngFor="let product of products" style="margin-bottom: 4px;">
                <div class="col-6">
                  <div class="row">
                    <p style="margin: 0;">{{ product.name }}:</p>
                  </div>
                </div>
                <div class="col-3">
                    <div class="row" style="text-align: right">
                        <p style="margin: 0;"><span style="color: #6dae49">x</span>{{ product.qty }}</p>
                      </div>
                </div>
                <div class="col-3">
                    <div class="row" style="text-align: right">
                        <p style="margin: 0;">{{ product.wholesale }}<span style="color: #6dae49">&euro;</span></p>
                    </div>
                </div>
              </div>
      
            
            <div class="row" style="margin-top: 12px;">
                <hr style="border: 1px solid #6dae49;opacity: 1;">
            </div>
          
            <div class="row productValue" style="margin-bottom: 4px;">
            <div class="col-6">
              <div class="row">
                <p style="margin: 0;">Αξία Προϊόντων:</p>
              </div>
            </div>
            <div class="col-6">
              <div class="row" style="text-align: right">
                <p style="margin: 0;">{{ GrandTotal }}<span style="color: #6dae49">&euro;</span></p>
              </div>
            </div>
          </div>
  
          <div class="row shippingValue" style="margin-bottom: 4px;">
            <div class="col-6">
              <div class="row">
                <p style="margin: 0;">Μεταφορικά:</p>
              </div>
            </div>
            <div class="col-6">
              <div class="row" style="text-align: right">
                <p style="margin: 0;">?<span style="color: #6dae49">&euro;</span></p>
              </div>
            </div>
          </div>
  
          <div class="row" style="margin-top: 12px;">
            <hr style="border: 1px solid #6dae49;opacity: 1;">
          </div>
          
  
          <div class="row totalValue" style="font-weight: 600;font-size: 18px;">
            <div class="col-6">
              <div class="row">
                <p style="margin: 0;">Συνολική Αξία:</p>
              </div>
            </div>
            <div class="col-6">
              <div class="row" style="text-align: right">
                <p style="margin: 0;">{{ GrandTotal }}<span style="color: #6dae49">&euro;</span></p>
              </div>
            </div>
          </div>
          <div class="row">
            <a class="cart-btn" type="submit" (click)="onSubmit(FormData.value)" >
              Προχωρήστε σε αγορά
              <img src="../../assets/credit-card.svg" alt="">
            </a>
          </div>
        </div>
      </div>
    </div>
</div>

<!-- <app-navbar></app-navbar>
<div class="card">

    <form *ngIf="showUserDetails" (ngSubmit)="handleUserDetails(userDetailsForm)" #userDetailsForm="ngForm">
        <h3>User Details</h3>
        <div class="fields">
            <label for="companyName">Company Name</label>
            <input type="text" id="companyName" class="form form-control" disabled="true" [value]="loadedUser.eponimia">
        </div>
        <div class="left-side">
            <div class="fields">
                <label for="afm">ΑΦΜ</label>
                <input type="text" id="afm" class="form form-control" disabled="true" [value]="loadedUser.afm">
            </div>
            <div class="fields">
                <label for="city">City</label>
                <input type="text" id="city" class="form form-control" disabled="true" [value]="loadedUser.city">
            </div>
            <div class="fields">
                <label for="zipCode">Zip Code</label>
                <input type="text" id="zipCode" class="form form-control" disabled="true" [value]="loadedUser.zip">
            </div>
        </div>

        <div class="right-side">
            <div class="fields">
                <label for="doy">ΔΟΥ</label>
                <input type="text" id="doy" class="form form-control" disabled="true" [value]="loadedUser.doy">
            </div>
            <div class="fields">
                <label for="phone">Phone</label>
                <input type="text" id="phone" class="form form-control" disabled="true" [value]="loadedUser.phone1">
            </div>
            <div class="fields">
                <label for="address">Address</label>
                <input type="text" id="address" class="form form-control" disabled="true" [value]="loadedUser.address">
            </div>
        </div>
        <div class="fields" style="padding-left: 22%;padding-right: 22%;">
            <label for="comments" style="margin-top: 60px;">Comments</label>
            <textarea class="form form-control" name="comments" id="comments" cols="30" rows="3" ngModel></textarea>
        </div>

        <button style="margin-top:60px;" class="btn btn-danger" (click)="handleGoBackToCart()">Back To Cart</button>
        <button style="margin-top:60px; margin-left: 23%;" class="btn btn-primary" type="submit" [disabled]="!userDetailsForm.valid">Continue to payment</button>

    </form>


    <form *ngIf="showPayment" #paymentForm="ngForm">
        <h3>Payment Info</h3>
        <div style="margin-top: 60px;">
            <ul style="list-style: none;">
                <li style="display: inline-block; margin-right: 5%;"><a [ngClass]="showCreditCard? 'selected' : ''" style="font-size: 18px; cursor: pointer;color: black;" (click)="handlePaymentMethod(creditCard)" #creditCard>Credit Card</a></li>
                <li style="display: inline-block; margin-right: 5%;"><a style="font-size: 18px; cursor: pointer;" (click)="handlePaymentMethod(bankTransfer)" #bankTransfer>Bank Transfer</a></li>
            </ul>
        </div>
        <div>
            <div style="margin-top: 10%;" *ngIf="showCreditCard">
                <div class="left-side">
                    <div class="fields">
                        <label for="creditCardNumber">Credit Card Number</label>
                        <input name="creditCardNumber" type="text" id="creditCardNumber" class="form form-control" ngModel required>
                    </div>
                    <div class="fields">
                        <label for="nameOnCreditCard">Name On Credit Card</label>
                        <input name="nameOnCreditCard" type="text" id="nameOnCreditCard" class="form form-control" ngModel required>
                    </div>
                </div>
                <div class="right-side">
                    <div class="fields">
                        <label for="expirationDate">Expiration Date</label>
                        <input name="expirationDate" type="text" id="expirationDate" class="form form-control" ngModel required>
                    </div>
                    <div class="fields">
                        <label for="cvv">CVV</label>
                        <input name="cvv" type="text" id="cvv" class="form form-control" ngModel required>
                    </div>
                </div>
              <h3 id="orderComplete"></h3>
              <button class="btn btn-success" id="toHomepage" style="margin-left:10% ;" (click)="handleMyHomePage()" *ngIf="canGoBackToHome">Back To Homepage</button>
            </div>

            <p style="margin-top: 10%;" *ngIf="showCashOnDelivery">hello2</p>
            <p style="margin-top: 10%;" *ngIf="showBankTransfer">hello3</p>
        </div>

        <button style="margin-top:60px;" class="btn btn-danger" (click)="handleGoBackToUserDetails()">Back To User Details</button>
        <button style="margin-top:60px;margin-left: 23%;cursor: not-allowed;" class="btn btn-primary" [disabled]="!paymentForm.valid" (click)="placeOrder()">Place Order</button>
    </form>
</div>

<div class="products">
    <div class="myCart">
        <h2>My Cart</h2>
    </div>
    <hr style="width: 20vw; margin-top: 5%;">
    <div *ngFor="let product of products">
        <img [src]="product.img" alt="" style="width: 141px; height: 141px; display: inline-block;">
        <div class="description">
            <div class="descLeft">
                <h4>{{ product.name }}</h4>
                <p>{{ product.wholesale }}€</p>
                <p>Quantity: {{ product.qty }}</p>
            </div>
        </div>
    </div>
    <hr style="width: 20vw; margin-top: 5%;">
    <div class="myCart">
        <h2>Total Price: {{ totalPrice }}&#x20AC;</h2>
    </div>
</div> -->
