.myBtn2{
  width: fit-content;
  cursor: pointer;
  padding: 8px 20px;
  border: none;
  background-color: red;
  color: white;
  border-radius: 8px;

  transition: background-color 0.3s ease-in-out;
  overflow: hidden;
}



.disabled{
  width: fit-content;
  cursor: pointer;
  padding: 8px 20px;
  border: none;
  background-color: red;
  color: white;
  opacity: 0.5;
  border-radius: 8px;
  overflow: hidden;
  cursor: not-allowed;
}

.myBtn2:active{
  transform: scale(0.95);
}

.myBtn2:hover{
  background-color: rgb(141, 0, 0);
}

.textAnim{
  position: absolute;
  top: 20%;
}

.loading .textAnim{
  animation-name: text;
  animation-duration: 0.3s;
  animation-delay: 0.2s;
  animation-fill-mode: both;
}

@keyframes text{
  0%{
    top: 20%
  }
  100%{
    top: -60%;
  }
}

.loading .lds-ring{
  animation-name: loader;
  animation-duration: 0.3s;
  animation-delay: 0.4s;
  animation-fill-mode: both;
}

@keyframes loader {
  0%{
    transform: scale(0);
  }
  100%{
    transform: scale(1);
  }
}

.lds-ring {
  display: inline-block;
  position: absolute;
  left: 46%;
  transform: scale(0);
  width: 20px;
  height: 20px;
}
.lds-ring div {
  box-sizing: border-box;
  display: block;
  position: absolute;
  width: 20px;
  height: 20px;
  border: 2px solid #fff;
  border-radius: 50%;
  animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  border-color: #fff transparent transparent transparent;
}
.lds-ring div:nth-child(1) {
  animation-delay: -0.45s;
}
.lds-ring div:nth-child(2) {
  animation-delay: -0.3s;
}
.lds-ring div:nth-child(3) {
  animation-delay: -0.15s;
}
@keyframes lds-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.remove{
    content: url(../../../../assets/x-black.svg);
    transition: all 1s ease-in-out;
  }
  
  .remove:hover{
    content: url(../../../../assets/x-red.svg);
  }

  .form-control:focus{
    box-shadow: 0 0 0 0.25rem rgba(109, 174, 73, .3) !important;
    border-color: #6dae49;
}



.myBtn{
    border: none;
    background-color: #6dae49;
    color: white;
    border-radius: 16px;
    padding: 8px 24px;
    transition: all 0.3s ease-in-out;
  }
  
  .myBtn:hover{
    background-color: #4a7632;
  }
  