<div class="container content">
  <div class="row" style="justify-content: center;align-items: center;">
    <h1 style="width: fit-content;">Ανανέωση Χρωμάτων Mosqui</h1>
  </div>
  <div class="row" style="justify-content: center;align-items: center;">
    <hr style="opacity: 1;border: 2px solid #6dae49;width: 50%;">
  </div>
  <div class="row" style="justify-content: center;align-items: center;">
    <p>Σε αυτή την σελιδά διεξάγονται όλες οι αλλαγές που έχουν γίνει στα χρώματα για την κατηγορία Mosqui+.
      Πατόντας το κουμπί της σελίδας και συμπληρώνοντας τα απαραίτητα στοιχεία γινεται η ανανέωση.</p>
  </div>
  <div class="row">
    <app-pop-up-login [button]="'Ανανέωση Χρωμάτων Mosqui'" [id]="'12'"></app-pop-up-login>
  </div>
</div>



<!-- <div class="col-sm-8 text-left">
  <h1>Update Mosqui Colors</h1>
  <p>Σε αυτή την σελιδά διεξάγονται όλες οι αλλαγές που έχουν γίνει στα χρώματα για την κατηγορία Mosqui+.
    Πατόντας το κουμπί της σελίδας και συμπληρώνοντας τα απαραίτητα στοιχεία γινεται η ανανέωση.
  </p>
  <app-pop-up-login [button]="'Update Mosqui Colors'" [id]="'12'"></app-pop-up-login>
  <hr>
</div> -->
