<h1>Upload PDF</h1>
<p>Σε αυτή την σελίδα ανεβαίνουν τα pdf για να χρησμοποιηθούν επειτα στο αντίστοιχο προϊόν.</p>
  <div class="progress form-group" *ngIf="progress > 0 ">
    <div class="progress-bar bg-info progress-bar-striped progress-bar-animated" aria-valuemin="0" aria-valuemax="100" [style.width]="progress + '%'">
    </div>
  </div>
  <h3>{{msg}}</h3>
<form class="form-group" [formGroup]="pdfForm" (ngSubmit)="uploadPDF()">

  <input type="file"  (change)="uploadFile($event)" class="form-control" style="width:400px;">
  <button class="form-control btn btn-success" style="width:400px;margin-top:10px;" type="submit">Upload PDF</button>
</form>
