<app-navbar></app-navbar>

<div class="container content">
    <div class="row">
        
        <h2 style="font-weight: 300;">Η Εταιρία</h2>
        <hr style="border: 1px solid #6DAE49;opacity: 1;">
    </div>
    <div class="row">
        <img src="../../assets/Perla-Sunset-1280x563.jpg" alt="" srcset="">
    </div>
    <div class="row" style="background-color: white;border-radius: 16px;margin-top: 44px;padding: 24px;box-shadow: 0 20px 30px rgba(0,0,0,0.08);">
        <div class="row" style="padding: 0px;">
          <nav class="black navigation" style="display: flex;justify-content:center;align-items: center;">
        
            <div class="underline col-3"></div>
            <div class="underline col-3"></div>
            <div class="underline col-3"></div>
            
    
            <a class="col-3" (click)="ul(1)">Εταιρικό Προφίλ</a>
            <a class="col-3" (click)="ul(2)">Ιστορικό</a>
            
          </nav>
        </div>
        <div class="row">
          <hr>
        </div>
        <div class="row">
            <div class="cotainer">
                <div *ngIf="showDesc[0]" class="row">
                    <div style="border-radius: 16px;">
                        <owl-carousel-o  [options]="customOptions">
                          <ng-container *ngFor="let img of images">
                            <ng-template carouselSlide id="yoyo">
                                <div style="padding: 10px;">
                                    <img [src]="img" alt="">
                                </div>
                            </ng-template>
                          </ng-container>
                        
                        </owl-carousel-o>
                    </div>
                    <div class="row" style="padding-left: 50px;padding-right: 50px;">
                        <p class="my-text">Η <b>PERLA PROFIL s.a.</b> δημιουργήθηκε το 1976 στην περιοχή των Γιαννιτσών Νομού Πέλλας. Η βασική δραστηριότητα της εταιρίας είναι το χονδρικό εμπόριο, η δημιουργία και ο σχεδιασμός καινοτόμων δομικών και τεχνολογικών προϊόντων.</p>
                        <p class="my-text">Η εταιρία παρέχει υλικά για την κατασκευή κουφωμάτων αλουμινίου, συνθετικών κουφωμάτων PVC, εξαρτήματα και μηχανισμούς κουφωμάτων, υλικά για την κατασκευή ρολών αλουμινίου, παραγωγή αντικουνουπικών συστήματα και συστήματα σκίασης.</p>                            
                        <p class="my-text">Από το 2008 και έπειτα η εταιρία σχεδιάζει και παράγει προφίλ αλουμινίου, ειδικά εξαρτήματα, αυτοματισμούς για εσωτερική εξωτερική σκίαση όπως επίσης έχει δημιουργήσει και αυτόνομες εφαρμογές διαχείρισης έξυπνου σπιτιού με την δυνατότητα διασύνδεσης συσκευών εξ αποστάσεως.</p>                            
                        <p class="my-text">Η εμπορική δραστηριότητα της εταιρίας αναπτύσσεται στην Ελλάδα και σε 15 χώρες του εξωτερικού συμπεριλαμβανομένης την αγορά της Ευρώπης και Νοτίου Αμερικής.</p>                            
                        <p class="my-text">Το δυναμικό προσωπικό της εταιρίας εκπαιδεύεται και εξειδικεύεται καθημερινά στα νέα προϊόντα και στις νέες τεχνολογίες για την άμεση και σωστή εξυπηρέτηση των πελατών για να συμβουλεύσει τεχνικά και να δώσει λύσεις σε οποιοδήποτε έργο.</p>
                        <p class="my-text">Στόχος της εταιρίας μας είναι η παροχή ποιοτικών και σύγχρονων προϊόντων και υπηρεσιών προσαρμοσμένων στις σύγχρονες ανάγκες του επαγγελματία και του καταναλωτή δημιουργώντας υγιείς και μακρόχρονες εμπορικές σχέσεις.</p>
                    </div>
                </div>

                <div *ngIf="showDesc[1]" class="row">
                    <p>Η εταιρία ιδρύθηκε το 1976 από τον Χρήστο Αγγελακάρη με την επωνυμία&nbsp; “Αλουμινοεμπορική” και έδρα την πόλη των Γιαννιτσών, έχοντας σαν κύρια δραστηριότητα την εμπορία αλουμινίου σειρών Α/Τ &amp; εξαρτημάτων για πόρτες και παράθυρα .<br>
                        Το 1988, έχοντας ήδη μία επιτυχημένη πορεία 12 ετών, η εταιρία δραστηριοποιείται δυναμικά στις πωλήσεις αλουμινίου, αναλαμβάνοντας την αποκλειστική διάθεση των σειρών ALPIN για την ευρύτερη περιοχή του νομού Πέλλας .<br>
                        Το 1993 η εταιρία παρουσιάζει σημαντική άνοδο στον χώρο του αλουμινίου και μεταφέρεται σε νέες ιδιόκτητες εγκαταστάσεις, στο 3ο χλμ Γιαννιτσών&nbsp; – Θεσσαλονίκης.<br>
                        Το 1994, δημιουργείται το πρώτο κατασκευαστικό τμήμα της εταιρείας, με σκοπό την παραγωγή και την διάθεση νέων προϊόντων, όπως ρολά ασφαλείας, αντικουνουπικά συστήματα και γκαραζόπορτες .<br>
                        Το 1995, το εμπορικό τμήμα της εταιρίας εκσυγχρονίζεται με την προσθήκη των νέων σειρών προφίλ αλουμινίου ALPIN και ALBIO . Η εταιρία επεκτείνει την παρακαταθήκη εξαρτημάτων και βοηθητικών υλικών, χάρη στην επιτυχημένη συνεργασία της με κορυφαίους οίκους της Ελλάδας αλλά και του εξωτερικού. Συμετέχει για πρώτη φορά σε διεθνείς και κλαδικές εκθέσεις&nbsp; και αλλάζει την επωνυμία της σε «Perla Profil – Χρήστος Αγγελακάρης αεβε» .<br>
                        Το 1997, η εταιρία σχεδιάζει και αναπτύσσει νέα συστήματα ρολών και αντικουνουπικών συστημάτων.&nbsp; Καθιερώνει νέα δεδομένα στην κατασκευή ρολών ασφαλείας και πολύ γρήγορα , θεωρείται μία από τις κορυφαίες εταιρίες στην Ελληνική αγορά , χάρη στις καινοτομίες και τον πρωτοποριακό σχεδιασμό των νέων προϊόντων .<br>
                        &nbsp;Το 2001, η εταιρία προχωράει σε νέα επένδυση που αφορά το σύνολο των δραστηριοτήτων της, επεκτείνοντας και εκσυγχρονίζοντας παράλληλα και τις κτιριακές εγκαταστάσεις της. Δημιουργείται το δεύτερο κατασκευαστικό τμήμα εμπορίας εξαρτημάτων αλουμινίου , με την μεταφορά του σε νέο χώρο και με την προσθήκη νέων προϊόντων .<br>
                        Το 2003, η εταιρία κατέχει το πιστοποιητικό ποιότητας ISO 9001, το οποίο παρέχεται με την εγγύηση του Βρετανικού συστήματος διαπίστευσης UKAS .<br>
                        Το 2006, η εταιρία συνεργάζεται με μία νέα ιταλική εταιρία η οποία παράγει πόρτες πυρασφαλείας και αποθηκών και προχωρά στην εμπορία αυτών των νέων προϊόντων έχοντας&nbsp; σε παρακαταθήκη βασικές διαστάσεις για την άμεση εξυπηρέτηση των πελατών της.<br>
                        Το 2007, προχωράμε στην βελτιστοποίηση του αντικουνουπικού συστήματος kit 39, με την εγκατάσταση κάθετης αυτοματοποιημένης παραγωγής, η οποία κάνει το προϊόν πλέον ανταγωνίσιμο και έρχεται να αντικαταστήσει την κιτ 40. Το προϊόν παράγεται&nbsp; βάση των Ευρωπαϊκών προτύπων&nbsp; CE κάνοντας το αναγνωρίσιμο από της ευρωπαϊκές αγορές.<br>
                        Το 2008, εισάγεται&nbsp; στην αγορά&nbsp; ένα ξεχωριστό μοντέλο σίτας, η σίτα Plisse με ερπύστρια τύπου ακορντεόν. Αυτό το&nbsp; μοντέλο σίτας είναι ένα&nbsp; νέο επαναστατικό προϊόν το οποίο προσφέρει ξεχωριστεί ποιότητα .&nbsp; Η εταιρία ξεκινάει με την εμπορία της σίτας και στα επόμενα χρόνια οδηγούμαστε και&nbsp; στην παραγωγή της .<br>
                        Το 2010 , το εμπορικό τμήμα της εταιρίας εκσυγχρονίζεται με την προσθήκη νέων προφίλ κουφωμάτων PVC . Η Perla Profil αποτελεί πλέον τον αποκλειστικό αντιπρόσωπο των προϊόντων Roplasto, έχοντας παρακαταθήκη σειρές ανοιγόμενου συστήματος 7001 και συρόμενου 4003 σε&nbsp; ποικιλία&nbsp; χρωμάτων .<br>
                        Το 2011, η εταιρία σχεδιάζει και αναπτύσσει νέα συστήματα ρολών&nbsp; θερμοδιακοπής&nbsp; και καθιερώνει νέα δεδομένα στην κατασκευής ρολών .<br>
                        Από την ημέρα ίδρυσής της, η εταιρία Perla Profil είχε μία ανοδική πορεία στην ελληνική αγορά και σήμερα&nbsp; αποτελεί μία από τις&nbsp; κορυφαίες Ελληνικές εταιρίες στον κλάδο του αλουμινίου. Διαθέτει έμπειρο διοικητικό και τεχνικό προσωπικό, καθώς και μία μεγάλη γκάμα προϊόντων υψηλών προδιαγραφών, που καλύπτουν κάθε ανάγκη της σύγχρονης αντίληψης σχεδιασμού της κατοικίας .</p>
                </div>
            </div>
            
        </div>
    
      </div>
</div>

<app-footer></app-footer>