<div class="row" style="margin-top: 150px;">
    <div class="col-3">
        <button *ngIf="filterOn" class="btn btn-danger" (click)="handleClearFilters()">Clear Filters</button>
        <div style="margin-bottom: 25%;">
            <div  style="background-color: #3E4148;text-align: center;padding-top: 8px;padding-bottom: 8px;margin-bottom: 6px;">
                <img src="../../../assets/control-logo-white-with-green.svg">
            </div>
            <div style="text-align: center;">
                <p><b>Σύνολο προϊόντων: {{ shownProducts.length}}</b></p>
            </div>
            <hr>
            <div>
                <ul style="list-style: none;">
                    <li *ngFor="let subcategory of getSubcategories()" style="margin-bottom: 3%;">
                        <label for="filterList"></label>
                        <input class="checkbox" type="checkbox" id="filterList" name="category" style="margin-right: 5%;" [value]="subcategory.sub_id" (click)="handleCheckboxes($event)">{{ subcategory.sub_name }}
                        <!-- <a (click)="handleFilter(mainCategory,subcategory)" class="category" style="cursor: pointer;text-decoration: none;color: black;">{{ subcategory.sub_name }}</a> -->
                    </li>
                </ul>
            </div>
            <hr>
            
        </div>
    </div>

    
    

    <div class="col-9">
        <div class="row" style="height: 95px;">
            <div class="col-3" style="height: fit-content;">
                <input type="text" style="width:100%">
            </div>
            <div class="col-3" style="height: fit-content;text-align: center;">
                <input type="text">
            </div>
            <div class="col-2" style="height: fit-content;">
                <input type="text">
            </div>
            <div class="col-4">
                <pagination-controls *ngIf="!noProducts" class="text-center my-pagination" (pageChange)="page = $event" #paginate></pagination-controls>
            </div>
        </div>
        <div class="row">
                <div>
                    <h1 *ngIf="noProducts" style="margin-top: 29%;margin-left: 55%;">There no products in this category!</h1>
                    <div>
                        <app-single-product
                        *ngFor="let sProd of shownProducts |
                        paginate: {
                            itemsPerPage: 9,
                            currentPage: page ,
                            totalItems: shownProducts.length
                        };let index;"
                        [index]="sProd"></app-single-product>
                    </div>
                </div>
                <pagination-controls *ngIf="!noProducts" style="margin-top: 40px;" class="text-center my-pagination" (pageChange)="page = $event" #paginate></pagination-controls>
            </div>
        </div>
    </div>





