.myBtn{
    border: none;
    color: white;
    background-color: #6DAE49;
    padding: 8px;
    border-radius: 60px;
    transition: all 0.3s ease-in-out;
}

.myBtn:hover{
    background-color: #4a7632;
}

.head th{
    padding: 12px;
    background-color: #6DAE49;
    text-align: center;
    color: white;
}

.head th:first-child{
    border-bottom-left-radius: 40px;
}

.head th:last-child{
    border-bottom-right-radius: 40px;
}

.head{
    position: sticky;
    top: 0;
}

.body th, .body td{
    padding: 20px;
    text-align: center;
}


.myTable{
    width: 100%;

}

::-webkit-scrollbar {
    width: 5px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: rgba(0,0,0,0); 
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    border-radius: 8px;
    background: #6dae49; 
    transition: all 0.3s ease-in-out;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #4a7632; 
  }