<app-add-image-popup [general]="false" [secondary]="false" [carousel]="true" style="position: absolute;top: 0;left: 0;" *ngIf="flag && window"></app-add-image-popup>

<div class="container content">
    <div class="row" style="justify-content: center;align-items: center;">
      <h1 style="width: fit-content;">Επεξεργασία Carousel Αρχικής</h1>
    </div>
    <div class="row" style="justify-content: center;align-items: center;">
      <hr style="opacity: 1;border: 2px solid #6dae49;width: 50%;">
    </div>

    <div class="container" style="margin-top: 40px">
        <div class="row">
            <a routerLink="/dashboard/carousel" route routerLinkActive="trapezoid" class="trapezoid2">
                <div class="container" style="height: 50px;padding: 0px;">
                    <div class="row" style="justify-content: center;align-items: center;height: 100%;">
                        <p style="width: fit-content;margin: 0px;">Επεξεργασία Carousel</p>
                    </div>
                </div>
            </a>

        </div>

        <div class="row myRow">
            <div style="display: flex;justify-content: center;">
                <form [formGroup]="carousel" (ngSubmit)="upload()">
                  <div>
                      <label>Επιλογη Καρουσελ</label>
                      <select class="form-select" aria-label="Default select example" formControlName="id">
                        <option>1</option>
                        <option>2</option>
                        <option>3</option>
                        <option>4</option>
                        <option>5</option>
                      </select>
                  </div>
                  <div class="input-group" style="margin-top: 12px;">
                      <label class="input-group-text">Εισαγωγη Κειμένου</label>
                      <textarea class="form-control" formControlName="text">
    
                      </textarea>
                  </div>

                  <div style="display: flex;justify-content: space-between;flex-direction: row;margin-top: 12px;">
                      
                    <div style="display: flex;flex-direction: column;padding-right: 8px;">
                        <label>Photo</label>
                        <!-- <input class="form-control" formControlName="image"> -->

                        <div class="input-group mb-3">
                            <button class="btn btn-outline-secondary" type="button" id="button-addon1" (click)="open()">Gallery</button>
                            <input type="text" class="form-control" [placeholder]="imageName? imageName : 'Επιλέξτε Φωτογραφία'" formControlName="image" aria-label="Example text with button addon" aria-describedby="button-addon1">
                        </div>
                    </div>

                      <div style="display: flex;flex-direction: column;">
                        <label>Routing</label>
                        <select class="form-select" formControlName="route">
                          <option>
                            {{ controlRoute }}
                          </option>
                          <option >
                            {{ motionRoute }}
                          </option>
                          <option >
                            {{ mosquiRoute }}
                          </option>
                          <option >
                            {{ profileRoute }}
                          </option>
                          <option >
                            {{ accessoriesRoute }}
                          </option>
                        </select>
                      </div>
                  </div>
                  <button class="table-btn" type="submit">Submit</button>
                </form>

            </div>
        </div>
    </div>

  </div>
